[2020-01-20 14:47] cmpilato opened #204 "PG3.0 regression: auto-set missing long description to a copy of the short description"
PG2.7 would automatically store in the long description of an episode a copy of the short description (as part of the "save" action of editing an episode).  This is beneficial for folks (like myself) who have modified the singleepisode theme template to show the long description instead of the short, but who don't always have distinct long description content.

[2020-01-20 15:28] emilengler commented on #204
Sorry but I don't understand

[2020-01-20 15:30] cmpilato commented on #204
I fixed this with the pull request you just merged (#205).  I guess I goofed up the metadata and GitHub didn't associated that PR with this issue.

[2020-01-20 15:30] #204 closed

[2020-01-20 16:32] alwa commented on #199
@emilengler My problem is solved. It's more if this should be part of the upgrade instructions or not. I suppose that this is maybe just an XML rendering issue in a browser and nothing more serious. So I vote yes

[2020-01-20 19:25] #199 closed

[2020-01-23 15:23] jhrockers commented on #187
Any luck with the bugs and issues?

[2020-01-23 15:25] emilengler commented on #187
I will work on this later. I currently have fever and therefore can't really concentrate on anything

[2020-01-24 13:51] cmpilato commented on #187
The issue with invalid characters in the `itunes:category` has already been fixed in `master` (see #182).

The issue with missing/malformed author strings as well (#183).

I'm not seeing in my own PG3.0 feed the "Invalid character in a URI" issue you mention.  But perhaps your `$link` configuration value in `config.php` (which informs the content of the `<guid>` feed elements) is more complicated

[2020-01-25 19:07] AboundinginHope opened #207 "Redirecting RSS Feed"
I need to know how to redirect the RSS feed from Podcast Generator to a new podcast host. I tried doing it from my cPanel and also from inside my blog but it is not working.

[2020-01-25 19:28] emilengler commented on #207
You can replace the `feed.xml` file with the feed file from your new host. However there is no automatic way to redirect. You'll need to update the feed file every time you update your feed

[2020-01-25 22:29] cmpilato commented on #207
I should think that your cPanel would allow you to configure a Redirect for the feed.xml URL.  I'm not familiar with cPanel, but if this was a straight Apache HTTP Server configuration, it's a one-line directive:

    RedirectPermanent /podcast/feed.xml https://newhost.com/podcast/new-feed.xml

(where `/podcast/feed.xml` is the path-only bit of the URL of your current feed XML file).

Of possible

[2020-01-28 13:39] jhrockers commented on #187
The other issue I have is when you click on the link of the episode, it doesn't open to show all of the details. This is what I get for all episode links https://harfordcountyliving.com/podcast/index.php?.

[2020-01-28 14:43] emilengler commented on #187
@jhrockers What is the value of `$link` in your config.php?

[2020-01-28 18:38] jhrockers commented on #187
$link = "$url."?name="; // permalink URL of single episode (appears in the <link> and <guid> tags in the feed)

[2020-01-28 18:50] cmpilato commented on #187
I think you need to lose the `."` from the middle of that.   This should result in calculated permalinks like `http://harfordcountyliving.com/podcast/?name=2019-12-16_whats_your_favorite.mp3`.

[2020-01-28 18:53] cmpilato commented on #187
FWIW, my personal configuration just has this:  `$link = "?name=";`

[2020-01-28 20:32] jhrockers commented on #187
That seemed to work, although all of the original text, hyperlinks and sponsors ads are no longer in the episodes notes

[2020-01-28 20:37] jhrockers commented on #187
Still getting the following as well:

This feed does not validate.

line 3, column 4: xml:lang must be an ISO-639 language code: en_US [help]

    <rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xml:lang= ...
    ^
line 26, column 26: itunes:explicit must be "yes", "no", or "clean": [help]

        	<itunes:explicit></itunes:explicit>
                          ^
line 82, column 14:

[2020-01-28 20:46] cmpilato commented on #187
I'm pretty sure that this is because the default theme for PG3.0 doesn't show the "long description".  In my theme, I replaced this line in `singleepisode.php`:

[code]

with this:

[code]

[2020-01-28 20:48] cmpilato commented on #187
I mentioned already that there's been a fix for the ugly "author" data (#183).  As for the other validation errors, I assume they are legit, but they haven't been hampering Google Play, iTunes, or PocketCasts on my own podcast.

[2020-01-28 21:53] jhrockers commented on #187
I'm not finding that thread in echo '  <div class="episode-desc">' . htmlspecialchars($correctepisode["episode"]["shortdescPG"]) . '</div>';

I see what you posted in #183 , but I'm not sure what to change in that and how.

[2020-01-31 00:40] joerg-nafcom opened #208 "Changes to button URLs (RSS and iTunes) not saved"
After updating podcast generator from 2.7 to 3.0 I had to re-set the Changes to button URLs (RSS and iTunes)
Albeit I can see it in the admin panel correct, on the homepage itself it still shows the (wrong) URLs coming as default with the bootstrap theme

[2020-01-31 09:38] emilengler commented on #208
How you changed the buttons? Over the website or otherwise?

[2020-01-31 12:15] #160 closed

[2020-01-31 12:16] emilengler commented on #160
Feature was added with 87eb7a7.
It has the security risk described above

[2020-01-31 18:36] joerg-nafcom commented on #208
By using the admin interface of the homepage of course :)

[2020-01-31 21:14] emilengler commented on #208
What URLs do you see?

[2020-01-31 21:15] emilengler commented on #208
Also, could you post the content of your `buttons.xml` file? That's where the button settings are stored

[2020-01-31 21:20] joerg-nafcom commented on #208
the defaults which are https://sceneworld.org/history/external.php?name=RSS
and https://sceneworld.org/history/external.php?name=iTunes

Contents of the buttons file is

<?xml version="1.0" encoding="utf-8"?>
<PodcastGenerator>
    <button>
        <name>RSS</name>
        <href>http://feeds.feedburner.com/SceneWorldTechHistoryInterviews</href>
        <class>btn btn-warning</class>
    </button>

[2020-01-31 21:33] joerg-nafcom opened #209 "paginator stopped working after podcast generator update"
The paginator stopped working after podcast generator update.

I only see last 4 podcast episodes and no pager beyond page 1 despite the RSS feed and 2.7 showed over 60

even when I manually change the number of the page, e.g. https://sceneworld.org/history/index.php?page=2  this just results then in an empty page instead.

[2020-01-31 21:35] joerg-nafcom commented on #157
another suggestion: Allowing setting "Home" navigation link destination. e.g. in our case I would like it to be https://sceneworld.org/ and not the default https://sceneworld.org/history/index.php?

[2020-01-31 21:45] cmpilato commented on #208
@joerg-nafcom It _could_ be just a mistake with the way you pasted those contents into the issue, but there appears to be a single-quote (`'`) mark at the end of your `buttons.xml` file contents that could cause the XML parser to barf.

[2020-01-31 21:56] joerg-nafcom commented on #208
no, that sign is not in the file, so that's not the problem

[2020-01-31 22:00] joerg-nafcom commented on #209
perhaps a Duplicate of #187? It sounds similar to my problem

[2020-01-31 22:09] emilengler commented on #208
Your config looks fine and works. I only get this error:
[code]
Do you mean this?

Also if I were you I would remove the `<protocol>` line in the iTunes entry. It probably only causes errors there

[2020-01-31 22:30] joerg-nafcom commented on #208
No the config does not work. Whatever browser I use (I even tried a different pc , i,e. while I was at work my pc in the office) and even there the URLs are the default of the theme and not what is in that file.

Attached screenshots of proof
![Scene World Tech History Interviews - Theme Buttons - Opera_2020-01-31_23-13-03](https://user-images.githubusercontent.com/16625923/73578699-91bff300-4480-

[2020-01-31 22:33] joerg-nafcom commented on #208
removing the protocol tags were a bad idea, now the whole button config got erased for both buttons :(  - bad
So the protocol tag **is** neccessary it seems

[2020-01-31 22:35] jhrockers commented on #187
After taking a break since the holidays, I just went to upload a new episode and received this error: Invalid filename, only A-Z, a-z, underscores and dots are permitted

Never had that before and I haven't changed anything in the way I upload the episodes.

[2020-01-31 23:08] cmpilato commented on #187
Disable the strict file name policy in your `config.php`?

[2020-02-01 09:24] emilengler commented on #209
What's your value of `$max_recent` in config.php?

[2020-02-01 09:25] emilengler commented on #209
Try changing it to `"all"`

[2020-02-01 09:26] emilengler commented on #187
Yes, @cmpilato said the answer.
Do `$strictfilenamepolicy = "no";`

[2020-02-01 09:33] joerg-nafcom commented on #209
it was 4, changed it to all, that worked, thanks :)

[2020-02-01 10:07] emilengler commented on #209
No problem ;)
Be aware when changing your podcast generator config through the web interface. It happens sometimes that this value get resetted sometimes. I will fix that now

[2020-02-01 10:07] #209 closed

[2020-02-01 10:13] emilengler commented on #208
Are you afraid of the `external.php` thing?
This is actually a feature rather than a bug. Still you should get redirected to feedburner don't you?

[2020-02-01 10:16] emilengler commented on #157
@joerg-nafcom You can already do this:

Edit Line 11 in `themes/default/navbar.php`
There edit it to
[code]

[2020-02-01 10:28] joerg-nafcom commented on #208
Ahh I didn’t know that I’ll check and comment once I’m back from traveling tonight and let you know

[2020-02-01 17:31] emilengler commented on #209
3.0.1 is out now with various bug fixes.
Upgrade and see if your problem is solved now :)

Thanks,
Emil

[2020-02-01 17:31] emilengler commented on #204
Included in 3.0.1 which just got released.
Thanks for your PRs btw :)

[2020-02-01 17:32] emilengler commented on #183
Included in 3.0.1

[2020-02-01 17:32] emilengler commented on #182
Included in 3.0.1

[2020-02-01 17:32] emilengler commented on #177
Included in 3.0.1

[2020-02-01 17:33] emilengler commented on #170
I removed the ability to change max_recent from the web interface in 3.0.1.
In just causes more problems than it probably solves. If users still want the feature, they need to change it form the config.php

[2020-02-01 19:11] Invictaz commented on #157
@joerg-nafcom @emilengler Could that be a selectablle option in the config?

[2020-02-01 19:13] emilengler commented on #157
Btw 3.0.1 is out now.

@Invictaz Yes

[2020-02-02 02:48] joerg-nafcom commented on #157
Thanks, this worked! I also vote for it being an option in the theme settings in the admin menu. will this be a feature of 3.1 for May? :)

[2020-02-02 02:50] joerg-nafcom commented on #209
Yes it works now with the update thanks

[2020-02-02 02:51] joerg-nafcom commented on #208
Now with the RSS feed no longer broken in 3.1 I can confirm it works, thanks!

[2020-02-02 02:51] #208 closed

[2020-02-02 02:55] joerg-nafcom opened #210 "Titles of entries containing quote signs got broken due to the podcast generator update"
Titles of entries containing quote signs got broken due to the podcast generator update

E.g. Birgit "Biggi" Lechtermann (English Version) - Interview #58

is defaced to
[code]
Even the bugfix release of 3.0.1 did not fix this.

[2020-02-02 03:06] joerg-nafcom commented on #210
Unfortunately the rebuilding process of the 3.0.1 while fixing the broken RSS issue, now also wrote the defaced titles in the RSS feed :( as seen here: http://feeds.feedburner.com/SceneWorldTechHistoryInterviews

[2020-02-02 10:13] emilengler commented on #210
Can you disable that feedburner puts the title into `CDATA` tags?
If you access your plain feed.xml, you shouldn't see this right?

[2020-02-02 10:14] emilengler commented on #157
Ok, will add this :)

[2020-02-02 10:36] emilengler commented on #157
Looks like 3.1 already has something similar called `$indexfile`. You can enter an absolute url there.

[2020-02-02 13:14] joerg-nafcom commented on #210
Nope, the problem is originated in the plain feed.xml too as well as the CDATA is generated from Podcast Generator too.
See https://sceneworld.org/history/feed.xml

[2020-02-02 14:31] emilengler commented on #210
Can you try to edit `media/2019-12-06_biggi_english.xml` and remove all occurences of `<![CDATA[` and `]]>`?

Maybe this helps. If so I will add another patch to bulk convert these files. Looks like I missed something in the backwards compatibility.

[2020-02-02 15:28] joerg-nafcom commented on #210
that fixes it. i will do this with the German version of the entry too now

[2020-02-02 15:41] joerg-nafcom commented on #210
manully re-generating the RSS feed fixed it there as well, thank you! :)

[2020-02-03 00:34] cmpilato commented on #178
Curious: why wasn't this backwards compat bugfix included in v3.0.1?

[2020-02-03 11:56] emilengler commented on #178
It needs more testing with the case if categories are disabled. Sorry, didn't managed to do it until yet. But I see this as a non blocking issue

[2020-02-03 13:44] ingorx opened #211 "Option for itunes/googleplay block option for those who want a "private" RSS feed"
**Description**
In Podcast Generator Config section could we please add the option to make our podcasts "Private?" Something as simple as a check boxes to block syndication into itunes and googleplay would do. Maybe it says, "Hide podcast from itunes"  as an option and a yes toggle could add the following code with each episode:
<itunes:block>yes</itunes:block>
Similarly, if we chose "hide podcast

[2020-02-03 15:31] emilengler commented on #211
3.1 has a feature which allows to set a password for the podcasts. The feed and media files will still be accessible however. This need to be changed server side then.

[2020-02-03 23:55] cmpilato opened #213 "Navigation from an episode to others sharing one of its categories"
I'm trying to allow users of my podcast site to click on an episode and, from that single-episode view, then click on one of that episode's categories to see others in the same category.  The current theme doesn't event list the categories for an episode, so the first step would be to display those at all.  But ideally, we show them with their human-readable category name ("Things That Go Bump In

[2020-02-03 23:59] cmpilato commented on #213
I was able to hack up my custom theme to show episode categories via their IDs (which are readily available in the episode XML data), but haven't yet worked out a way to maps those IDs to category human-readable names for display purposes.  I'll show here the `singleepisode.php` tweaks I made.  There are corresponding CSS tweaks, too, but those are immaterial.

[code]

[2020-02-04 10:02] emilengler commented on #213
Hmmm the categories alreadydid some problems in the past.
Will work on it later.

[2020-02-07 18:54] guillaumedavy01 opened #214 "Episode File has shown like a document on Itunes Podcast, not audio file"
Hello
I put some episodes on my nas with PG.
All work ! Thanks
One thing, on Itunes, episodes are define like document, not like audio file.
When you click on the episode, podcast app on IOS open a window and play the audio file.
Functions rewind or forward 10 sec don't work

Do you have an idee about that?

If you want to check on the podcast store
search : le metier a changé

Thanks for your hel

[2020-02-07 19:55] emilengler commented on #214
Hey Guillaume,
can you tell us which version of Podcast Generator do you use?
As far as I know the Synology Store uses 2.6 instead of 3.0.1

[2020-02-07 21:22] guillaumedavy01 commented on #214
I use the 2.4 version of PG

[2020-02-07 21:58] guillaumedavy01 commented on #214
Oups sorry, on the xml it's write 2.4 but on DSM, it's write 2.6-0109

[2020-02-08 00:18] TomFaulkner opened #215 "Help Wanted: Upgrade from 2.4 to 2.7 and transfering webhosts - episodes out of order"
Podcast Generator Version: Upgrading to 2.4 from 2.7
Webserver: nginx
PHP Version: 7.2

I am switching web hosts, and finally switching to using Docker (https://github.com/chambana-net/docker-podcastgen). I have copied over the media directory and the categories.xml. Everything seems to be good, except the podcasts are in a different order.

Is there something I need to copy over to restore the or

[2020-02-08 00:41] TomFaulkner commented on #215
Nevermind this. The dates are determined by the file timestamp. I just recopied with preserve timestamp.

[2020-02-08 00:41] #215 closed

[2020-02-08 09:57] emilengler commented on #215
Yes the file order is done by the timestamp of the files.
On Unix system you can change them by this
[code]
This would change the date to `2020-02-01 18:27`
Optionally you can add two digits at the end for seconds.
I'm currently not sure though if the parsing happens on the audio or the XML file so I would just change both

[2020-02-08 10:14] emilengler commented on #214
I'm sorry but the support of the version was dropped in 2015.
Would it be possible for you to update manually in example editing the files of Podcast Generator manually?

[2020-02-09 03:50] Plus200 opened #216 "Only first file type from supported_media.xml is loaded"
**System Information**
Podcast Generator Version:  3.0
PHP Version: 7.2

It seems that only the first entry (mp3) from supported_media.xml is loaded by the loop
foreach ($supported_extensions_xml->mediaFile->extension as $item)

Thus, only mp3 are loaded to the feed.xml

When manually adding "mp4" to the array, it loads mp4 files as well.

Couldn’t figure out why only one extension is loaded to th

[2020-02-09 03:58] chipbrownlee opened #217 "Be Able to Define Cover Art File Name"
Hi! I really love the Podcast Generator. It would be really helpful if you were able to define the file name of the iTunes cover art so that when you change the image it doesn't stay as "itunes_image.jpg". Some platforms, like Spotify, do not reload the cover art if the file name doesn't change.

On that note, does anyone have any advice for how I can manually change the name of the cover art in t

[2020-02-09 09:26] emilengler commented on #217
There is no comfortable way because everytime you regenerate your RSS feed it will be overwritten. However I am working on such a feature and it will get included into Version 3.1 which will be released in May this year (sorry for the waiting time :/)

I will close the issue now because it is a duplicate of #198

[2020-02-09 09:26] #217 closed

[2020-02-09 09:49] emilengler commented on #216
Can you really upload ONLY mp3 files? Have you tried others?

[2020-02-09 11:17] seem8 opened #218 "typo in setup step2.php"
There is a typo in
https://github.com/albertobeta/PodcastGenerator/blob/master/PodcastGenerator/setup/step2.php#L68

Thanks for this app, it's really usefull. :)

[2020-02-09 15:20] #218 closed

[2020-02-09 15:20] emilengler commented on #218
Thanks, fixed in 0201c7a

[2020-02-09 19:10] Plus200 commented on #216
Yes. I was struggling to add mp4 files, but only after hardcoding mp4 as valid extension I was able to.
The loop to load valid extensions loads only tye first one (mp3) on the xml file

[2020-02-09 20:40] guillaumedavy01 commented on #214
Hello thanks to answer.
I don't understand very well your request!

Just to improve my case
I use PG to broadcast my sounds recording.
It's work very well with Android app like podcast addict on my phone.
But on my iPad, when you open my podcast, you have each episode but with a small paper under the name of the episode.
And when you type more it's write document

My sounds file are in wave, aroun

[2020-02-09 20:51] emilengler commented on #214
I mean you use Podcast Generator Version 2.4. We don't offer support for this anymore. It is highly suggest to upgrade. My question was do you have access to the direcotry where podcast generator is installed?

[2020-02-09 21:01] guillaumedavy01 commented on #214
Ah I understand!
The version is 2.6, not 2.4 sorry.
I have access of the directory. It's on my Nas synology and I'm admin

[2020-02-10 09:58] cupcakearmy commented on #186
Having the same issue. (Using docker)
After installing gettext the second error with `Uncaught Error: Call to undefined function bindtextdomain()` disappeared. However the first error with the headers already sent is still there. The site works however.

Is there maybe a list of required PHP extensions needed? gettext ist not listed in the install guide. Probably should be added along other requir

[2020-02-10 14:55] emilengler commented on #186
Sure but would you be willing to maintain it?

gettext and php-xml

If the translations don't work, could you post your output of `locale -a`

[2020-02-10 14:57] emilengler commented on #214
Good. Can download version 2.7 from here: https://github.com/albertobeta/PodcastGenerator/releases/tag/v2.7 and replace all files in your folder with these? Concat folders if asked for.

After this, please do the same but with version 3.0.1 from here: https://github.com/albertobeta/PodcastGenerator/releases/tag/v3.0.1

**BE SURE TO MAKE A BACKUP OF THE ENTIRE PODCAST GENERATOR DIRECTORY BEFORE UPD

[2020-02-11 12:40] RostRoth opened #219 "Itunes says "Feed contains no episodes""
Podcast Generator Version: 3.0.1
PHP Version: 7.2

Hi. I try to release a podcast on itunes but everytime i got the error that my feed contains no episodes. Anyone have an idea?

Thanks in advance.
Rgds
Patrick

[2020-02-11 13:12] cupcakearmy commented on #186
Well I could do the prep work, but no, as I don't know the project at all I could not maintain it. That said, maintaining a docker image for someone who actively develops the project is basically free. You only need to change the Dockerfile if you add a php extension e.g.

[2020-02-11 14:45] emilengler commented on #219
What is your config.php value of `max_recent`?

[2020-02-11 14:48] RostRoth commented on #219
$max_recent = "all"; // How many file to show in the home page

[2020-02-11 14:51] emilengler commented on #219
Do you see the episodes in your feed.xml?

[2020-02-11 14:59] RostRoth commented on #219
no :( here is my podcast page:
http://podcast.sdunets.de/

[2020-02-11 15:28] emilengler commented on #219
Can you click manually regerate RSS feed in the admin area?

[2020-02-11 15:43] RostRoth commented on #219
Yes. But the Feed will not Change :/

[2020-02-11 17:06] emilengler opened #220 "A tool to censor the config.php and post it"
**Description**
Make web tool in Javascript on the official PG website which will censor private podcast related stuff like password, username, email, podcast name, etc.

**Motivation**
I need to ask for some values. Would be nice to get the entire config.pdp
**Legal aspect**

* [ x ] I am the inventor of this idea or the idea is public domain
* [ x ] I release this idea into the public domain

[2020-02-13 07:23] AmritasyaPutra commented on #147
Wonderful! May I request a very simple cosmetic change to the new website? On https://podcastgenerator.github.io/download.html the all caps in solid red background appears little intimidating, maybe we can make it more inviting.

On Help page: "Our documentation is currently edited. Sorry. However you can ask for help wit GitHub Issue." is little cryptic, it can be made a little more simple and di

[2020-02-13 13:49] emilengler commented on #147
Sure. However you are free to open a pull request in https://github.com/PodcastGenerator/PodcastGenerator.github.io

[2020-02-14 19:21] rjlappin opened #221 "Auto-Indexing not working"
**System Information**
Podcast Generator Version: 3.0
Webserver: dreamhost
PHP Version: 7.1

The auto-indexing function does not appear to work.  I upload some files via FTP and the XML files do not get generated.

[2020-02-14 19:43] cmpilato commented on #221
@rjlappin It's perhaps worth pointing out that the FTP auto-index feature is somewhat poorly named.  Were I re-envisioning it, I would call it something like "local episode discovery" or something.  I say this not to criticize the name of the feature, but really to help explain how it works.  Essentially, there is little that's "automatic" or inherently FTP-specific about the feature.  It is rathe

[2020-02-14 23:10] rjlappin commented on #221
Thanks for your reply.  I think I figured out what the problem was.  The files I put on the site had underscore and hyphen characters and it seems the code that detects the files and makes XML files has trouble with the “special” characters.  I renamed the files so they were only numbers and letters (alpha numeric) and the index function worked fine.

Oddly enough the indexing function added the d

[2020-02-15 14:35] cmpilato commented on #221
I think that what you experienced makes sense.  I have `$strictfilenamepolicy = "no"` in my config.php, so I'm not used to seeing those filename-related errors in my scenario.

[2020-02-15 21:15] emilengler commented on #220
See https://github.com/PodcastGenerator/PodcastGenerator.github.io/tree/emilengler/2020-02-censor-config-tool

[2020-02-16 17:07] #220 closed

[2020-02-16 18:50] emilengler commented on #210
Still have the issue on 3.0.1? Can't reproduce

[2020-02-16 19:09] joerg-nafcom commented on #210
Yes, still have it in 3.0.1

I still have some where I would have to delete <![CDATA[ manually out of it as you requested earlier, but we posted so many, I hope you fix it as you promised in an earlier reply with the next update

[2020-02-17 01:17] rjlappin commented on #221
I’ve copied 940 files (1/2 of them are XML files) to the media folder but only 4 show up on the web page.  How do I get access to the other files?

Bob

From: C. Michael Pilato [mailto:notifications@github.com]
Sent: Saturday, February 15, 2020 6:35 AM
To: albertobeta/PodcastGenerator
Cc: rjlappin; Mention
Subject: Re: [albertobeta/PodcastGenerator] Auto-Indexing not working (#221)

I think that w

[2020-02-17 02:16] cmpilato commented on #221
@rjlappin I didn't start using PG until version 2.7, so nothing readily comes to mind. Though, did you make sure that the files you copied over have appropriate filesystem permissions -- such that PG, running in PHP under your webserver as that process's user, has the ability to even read those files?

@emilengler How hard would it be to whip up a command-line PHP script that does the feed generat

[2020-02-17 03:17] rjlappin commented on #221
It runs out if I use the Categories menu and select All, all of the episodes appear.  When you click on Home, only 4 appear.

From: C. Michael Pilato [mailto:notifications@github.com]
Sent: Sunday, February 16, 2020 6:16 PM
To: albertobeta/PodcastGenerator
Cc: rjlappin; Mention
Subject: Re: [albertobeta/PodcastGenerator] Auto-Indexing not working (#221)

@rjlappin <https://github.com/rjlappin>  I

[2020-02-17 09:35] ctlpod opened #222 "feed.xml not updating with Episode information"
**System Information**
Podcast Generator Version: 3.0.1
Webserver: Cloudhosting
PHP Version: 7.3.6

**Podcast Generator Config**

[code]

**Description of your problem:**

I successfully upload mp3 or m4a files to my server via the Admin section. They play in the browser perfectly, but the feed.xml doesn't list any Episode details or info. So when I try to validate on Apple Podcast Connect, it say

[2020-02-17 15:27] rjlappin commented on #221
I need to find the iTunes setting in version2.2 so I can apply/copy it to
Version 3.0.  Can you tell where it is located?

Thanks,

Bob

From: C. Michael Pilato [mailto:notifications@github.com]
Sent: Sunday, February 16, 2020 6:16 PM
To: albertobeta/PodcastGenerator
Cc: rjlappin; Mention
Subject: Re: [albertobeta/PodcastGenerator] Auto-Indexing not working (#221)

@rjlappin <https://github.com/rj

[2020-02-17 15:53] emilengler commented on #222
Post your config.php, but censor it before with this tool: https://podcastgenerator.github.io/tools/secure_config.html

[2020-02-17 15:54] emilengler commented on #221
That's not a bug, it is a feature. However it was not intended to be the default.
Please edit your config.php file and change `max_recent` to `"all"`

[2020-02-17 17:30] rjlappin commented on #221
Perfect!  Thanks.

From: Emil Engler [mailto:notifications@github.com]
Sent: Monday, February 17, 2020 7:55 AM
To: albertobeta/PodcastGenerator
Cc: rjlappin; Mention
Subject: Re: [albertobeta/PodcastGenerator] Auto-Indexing not working (#221)

I’ve copied 940 files (1/2 of them are XML files) to the media folder but only 4 show up on the web page. How do I get access to the other files?

That's no

[2020-02-17 18:35] emilengler commented on #221
Does it work now? Can this issue be closed?

[2020-02-17 18:36] emilengler commented on #222
Otherwise we can't really help you. Sorry

[2020-02-17 21:52] dskeen commented on #201
I am having the same problem even on a clean install.  and it does seem to be somewhat related to larger files. i have a 7mb mp3 that displays the metadata and the player just fine.  and i have a 56mb file that does not display any of that.  just FYI

[2020-02-18 12:11] guillaumedavy01 commented on #214
Thanks for your answer.
To be sure i made a backup of Podcastgenerator folder.

I try to update the version and i ll come back very soon

Thankssss a lot

Guillaume

[2020-02-18 19:22] emilengler commented on #201
Can you give me a link to an episode where it is not working?
I believe it is because of the MIME type

[2020-02-18 20:18] dskeen commented on #201
Sure thing.  this is my test environment site.  http://david-keener.com/podcast
you can see all episodes there.  here is a specific one http://david-keener.com/podcast/index.php?name=2020-02-18-2-22-20.mp3

[2020-02-19 00:38] RobHowdle opened #223 "Upgrade from 2.7 to 3.0.1 Problems"
**System Information**
Podcast Generator Version:  3.0.1
Webserver: Linux
PHP Version: 7.1.33

**Podcast Generator Config**

[code]

I have quite a few problems, had to upgrade due to change of computer and forgotten password for version 2.7 and there wasn't a way to change my login password that I could find. Installed V3.0.1, copied my media folder over had to change all of my details as nothing

[2020-02-19 02:39] cmpilato opened #224 "Configuration writer mishandled semicolons found in config values"
**System Information**
Podcast Generator Version: 3.0.1 (fresh install)
Webserver: Apache HTTP Server 2.4
PHP Version: 7.2

**Report**
Podcast Generator mishandles `config.php` values which contain semicolons.  This can be demonstrated using the Change Podcast Details (`admin/podcast_details.php`) admin form.

Before editing the Podcast details, the Copyright configuration line in my `config.php`

[2020-02-19 13:43] emilengler commented on #201
you can see all episodes there. here is a specific one http://david-keener.com/podcast/index.php?name=2020-02-18-2-22-20.mp3

I downloaded and inspected the file.
May it be possible that your mp3 file has a cover image?

[2020-02-19 14:19] cmpilato commented on #201
I can confirm that with the file as-is, PHP's `mime_content_type()` method considers the file to have an `application/octet-stream` type.  If I use the `id3v2` command-line tool to remove the `APIC` ID3v2 frame (the episode artwork), `mime_content_type()` reports the resulting file as being of type `audio/mpeg`.

[2020-02-19 14:58] dskeen commented on #201
it looks like that might have done the trick.  I removed the album art from all files, re-uploaded them and now i have the file data as well as the embedded player. Thanks for the info.

[2020-02-19 16:31] cmpilato commented on #201
For what it's worth, I suspect that the root of the problem is almost certainly _not_ that PodcastGenerator itself doesn't support episode artwork.  It's that the lower-level mechanism that PHP uses to identify file content types makes some assumptions, such as assuming that the MP3 identifying "magic" bytes appear somewhere in first so many bytes of the file.  Removing the APIC frame merely allow

[2020-02-19 16:35] dskeen commented on #201
Im afraid you are WAY above my paygrade on that info.  all i know is that this worked just fine in PG 2.7 and it doesnt work now in PG 3.0.1.  exact same mp3 files uploaded into both versions of PG (2.7 and 3.0.1) produce different results.  thats all I know.

[2020-02-19 16:58] cmpilato commented on #201
Sorry.  I guess to ask it more clearly, I was wondering if using smaller episode artwork (the "picture" found in the MP3's ID3 metadata tag) would allow the file to be detected as an audio file (rather than as a generic collection of bytes that could be anything).  So I just downloaded EasyTag, and used it to replace the picture in your episode with a smaller one (only about 0.5 Mb), and it seems

[2020-02-19 17:06] emilengler commented on #201
Ok will re-open this and invest my weekend into PG :)
There is still a lot to do and I'm sorry if the bugs in PG 3.0 might lead you to switch back.
However I will try my best to fix all the bugs and make 3.1 much better :rocket:

[2020-02-19 17:12] dskeen commented on #201
no worries at all!  I for one and very happy to see that PG is not dead, but is being revived and worked on and will continue to improve!  if i need to wait a few months to upgrade in order to get the functionality I want. i am perfectly fine with that!  Thank you for your efforts and your work!

[2020-02-20 10:55] xppx99 commented on #216
Hello, I can confirm this issue. I've been using podcastgen 2.X for years, today I've made a clean 3.0 install and all my *.m4b files are missing.

[2020-02-20 17:03] emilengler commented on #216
Thanks for letting me know!
I will plan to release Podcast Generator 3.0.2 this weekend which will remove the MIME type checking so this problem won't occur anymore.
Of course this is not the best solution but a quick patch is neccesary and I try to re implement this feature on a clean way with an option to disable in 3.1

[2020-02-20 17:59] RobHowdle opened #226 "Changing Password"
**System Information**
Podcast Generator Version: 3.0.1
Webserver: Linux
PHP Version: 7.1.33

**Podcast Generator Config**

[code]

**Description of your problem:**
I am unable to figure out how to change the password on the account. Cannot see any documentation and I cannot find any Forgotten Password Resets anywhere. I have had to unexpectedly rebuilt my PC and I wasn't able to copy my passwords

[2020-02-20 21:00] emilengler commented on #226
PG does not have a feature for it. I might write a small php recovery script.
Currently the pretty much only easy solution would be to backup your `config.php` file, then delete it and run the installer again.

Then open up the newly created config file and copy the entire line with the `userpassword` value.

Now go back to your backup config and replace the userpassword line with the copied one a

[2020-02-21 10:32] xppx99 commented on #221
Hello, I can reproduce this problem, from my undestanding is still an issue, at list in a fresh 3.0 install.

Example: the only mp3 files I can import (using the FTP auto-index feature) are the ones with no spacing " " or "." or "_" or "-" in the file name. For example:

this is a podcast.mp3 -> does not work
this_is_a_podcast.mp3 -> does not work
this.is.a.podcast.mp3 -> does not work
this-is-a-p

[2020-02-21 11:29] emilengler commented on #221
@xppx99 Hi!
I think your problem is related to a feature called "strictfilenamepolicy".
Edit this value in config.php from yes to no and see if the error still occurs

[2020-02-21 13:23] emilengler commented on #223
I'm not sure if PG 2.7 had something like a push algorithm. Will take a look at the codebase

Hmmm I saw your screenshot. If this was your only problem (HTML tags details section) then it should be fixed now :)

Will check this out

[2020-02-21 15:17] emilengler commented on #226
Hope it worked for you. If not just delete the config.php and run the installer again (you'll need to re configure your podcast then).

I added a recovery tool compatible with the future version only in d01b75d76d3703d7e3ce02d8b541de2a78067532

[2020-02-21 15:17] #226 closed

[2020-02-21 19:07] emilengler commented on #224
Will work on this tomorrow to get it into 3.0.1. Thanks for letting me know

[2020-02-21 19:11] emilengler commented on #219
Wow this is interesting for me!
Sorry for the late reply by the way.
Can you paste your config [here](https://podcastgenerator.github.io/tools/secure_config.html) and then post the censored output of this tool here so I can analyze your config?

Also could you give me the file called "2020-02-11-SDUNETS_PODCAST_VOL1.wav" in the media folder?

[2020-02-21 20:47] cmpilato commented on #223
I am preparing a fix for the disabled-categories issue ("Third issue").

[2020-02-21 21:06] cmpilato commented on #223
See #227 for the fix to the disabled-categories bit.

[2020-02-22 06:29] rjlappin opened #228 "How do I save changes when editing an episode? There is no save button."
**System Information**
Podcast Generator Version: 3.0
Webserver: dreamhost
PHP Version: 7.4

**Podcast Generator Config**

[code]

**Description of your problem:**
I do not know how to save changes when editing an episode.

[2020-02-22 06:34] cmpilato commented on #228
I found this interface confusing, too. See issue #178 for an explanation and related fixes.

[2020-02-22 06:39] rjlappin commented on #228
Well that did not help me since I have a category select.  However, the Author fields have asterisk (usually means required).  I tried putting data in thos field but still pressing Edit just reloads the form with the old information.

From: C. Michael Pilato [mailto:notifications@github.com]
Sent: Friday, February 21, 2020 10:35 PM
To: PodcastGenerator/PodcastGenerator
Cc: rjlappin; Author
Subject

[2020-02-22 08:33] emilengler commented on #223
Hi!
First big sorry to you @cmpilato for not including your Patch into 3.0.1. I will do my best to get it into 3.0.2. I think I've forgot the purpose of this commit.

I will now try to reproduce this issue as it got reported a lot here

[2020-02-22 08:40] emilengler commented on #228
Hi rjlappin!
As this issue is a common one (unfortunately) I wanna try reproducing it.
However for this I need your config.php file

Could you copy the content of this file to [this site](https://podcastgenerator.github.io/tools/secure_config.html) and paste the output of this site here?

[2020-02-22 15:04] #224 closed

[2020-02-22 15:23] emilengler commented on #223
The third issue should be fixed now!
Big thanks to @cmpilato for the patch!

[2020-02-22 16:14] emilengler commented on #210
Hi, some news to this issue!
Looks like I was a bit sloppy when creating 3.0 and forgot this point in the backwards compatible. I'm able to reproduce the issue and look forward to write the fix for it today.
I will also publish 3.0.2 somewhere this weekend or on Monday or Tuesday

Cheers,
Emil

[2020-02-22 16:24] rjlappin commented on #228
I was able to figure it out.  All fields must be filled in and the Explicit content must be set to either yes or no.

From: Emil Engler [mailto:notifications@github.com]
Sent: Saturday, February 22, 2020 12:41 AM
To: PodcastGenerator/PodcastGenerator
Cc: rjlappin; Author
Subject: Re: [PodcastGenerator/PodcastGenerator] How do I save changes when editing an episode? There is no save button. (#228)

[2020-02-22 21:02] emilengler commented on #228
The fields should be set anyways. I will close this issue then and have a deeper look at it

[2020-02-22 21:02] #228 closed

[2020-02-23 14:31] damiencarol commented on #198
Same here, we are in 2.5 and want to migrate to 3.0.

[2020-02-23 14:51] guillaumedavy01 commented on #214
Hello
I copied the entire folder from 2.7 version.
But I don't have message to enter my password.
Where can I find the version of PG on my server ?
When I click on feed.xml file it's write 2.0 version !

Strange !

Can you help me ! Thanks a lot

Guillaume

[2020-02-23 21:15] emilengler commented on #214
Sorry but I don't know what you means with message to enter your password

[2020-02-24 10:53] guillaumedavy01 commented on #214
Hello, sorry for my last message, I didn't remember where I read I need to put my password !

So I download 2.7 version, I unziped the folder, I removed media, setup and images folder, I push files on my PG folder.
It's working but when I click on RSS button,
prodiction.fr/podcastgen/feed.xml
It's write 2.4 version !
So the upgrade didn't work !

Do you have an idee ?

Thanks a lot for your futur

[2020-02-24 14:03] emilengler commented on #214
Try to concat te folder (copy the files from the new version to the old folder and replace files if asked for)

[2020-02-24 16:11] emilengler commented on #186
@cupcakearmy Sorry for the late answer.
Could you do the prep work now?

[2020-02-24 21:07] rajnish71 opened #229 "Multiple Users"
**System Information**
Podcast Generator Version:
Webserver:
PHP Version:

**Podcast Generator Config**

[code]

**How do we add multiple users?**

[2020-02-25 10:02] cupcakearmy commented on #186
I can see what I can do this evening (Europe time)

[2020-02-25 13:45] cupcakearmy commented on #186
What folders need to be persisted? `media`, `scripts`, `images`?

[2020-02-26 22:51] joerg-nafcom commented on #210
great news, but I don't sere the new release yet. is there a delay`?

[2020-02-27 15:28] tomanageit opened #230 "cron URL no RegenerateRSS, no response in Browser"
**System Information**
Operating System: Linux
Podcast Generator Version: 3.01
PHP Version: 7.2.28 (webhoster)
PHP Version: 7.3.11 (localhost)

**Podcast Generator Config**
$cronAutoIndex = 1;
$cronAutoRegenerateRSS = 1;

**Expected behavior**
RegenerateRSS with new files

**Actual behavior**
no regenerate of file list, no response

**How to reproduce**
Podcast Generator Version 2.7 cron URL works

[2020-02-28 15:18] emilengler commented on #229
Currently this is not possible. However in Podcast Generator 3.1 which will be released on May 31th or even earlier there will be support for multiple users.

[2020-02-28 15:18] #229 closed

[2020-02-28 15:19] emilengler commented on #210
Hi Joerg,
there is indeed a delay.
Had a very busy week so I haven't managed to release PG 3.0.2 until the deadline.
Looking forward to do it this weekend

[2020-02-28 15:20] emilengler commented on #186
@cupcakearmy The login data is stored in config.php.
The scripts folder is the root dir of the PG installation

[2020-02-29 10:21] #210 closed

[2020-02-29 10:21] emilengler commented on #210
Hi, I just published to patch for it!
I will now work on a way which will convert the old XML files to newer ones!
Thanks for the report

[2020-02-29 17:14] joerg-nafcom commented on #210
how to download it? I still see no 3.0.2 a t https://podcastgenerator.github.io/download.html

[2020-02-29 18:45] emilengler commented on #210
You're right, there is no 3.0.2 yet I only said that I fixed it.
Will see if I can manage it to release it tomorrow

[2020-03-01 18:42] emilengler commented on #210
Hi sorry for this bad message but I can't give you a release date now. I have lots of stuff todo in the next weeks but still try to work on PG in the small amount of remaining free time

[2020-03-04 05:33] munkee commented on #216
I'm also seeing this and I think it may be the cause of some of the other issues related to empty feeds #219 & #222

[2020-03-05 15:01] guillaumedavy01 commented on #214
Thanks for your help
It's work now

Guillaume Davy

[2020-03-05 15:01] #214 closed

[2020-03-05 21:06] senarvi commented on #21
I saw the same error with PHP 7.2 and all those libraries installed. Turned out that my disk space was almost full. Saving settings would replace config.php with an empty file. This didn't issue any error, but after that all the pages would fail since absoluteurl was not defined.

[2020-03-05 22:26] senarvi opened #231 "Images disappeared after upgrading to Podcast Generator 3"
**System Information**
Podcast Generator Version: 3.0.1
Webserver: nginx 1.14.0
PHP Version: 7.2

**Podcast Generator Config**

[code]

**Description of your problem:**
I upgraded from 2.6 to 2.7, since it's apparently not possible to upgrade directly to 3. Everything was still working. Then I upgraded to 3.0.1. It seems to be working otherwise, but I don't see the episode images anymore.

I have

[2020-03-06 07:11] emilengler commented on #231
The problem is already know. I forgot to implement this when rewriting 3.0.
I'll plan to add this later. Maybe it will be included in 3.0.2 which is expected to be released in the next weeks. Otherwise in 3.1 which will be released on the 31th of May

[2020-03-06 07:11] #231 closed

[2020-03-06 07:12] emilengler commented on #21
**Never** delete your config.php otherwise the installer will run again

[2020-03-06 11:52] senarvi commented on #21
I didn't delete config.php. I noticed that if you have disk space almost full and try to save settings, the fwrite() deletes everything in config.php, returns 0, and leaves an empty file without issuing an error. Just wanted to point this out in case anyone else ends up here in a similar situation.

[2020-03-17 16:19] cgazzolo opened #232 "Getting error on rss feed: xmlParseEntityRef: no name"
**System Information**
Podcast Generator Version:  current ?
Webserver:
PHP Version:

**Podcast Generator Config**

[code]

**Expected behavior**

Proper rss feed

**Actual behavior**

Got error: error on line 27 at column 36: xmlParseEntityRef: no name

**How to reproduce**

Go to: http://byzantinecatholic.com/podcast/feed.xml

[2020-03-17 17:15] emilengler commented on #232
This error is already fixed with 3.0.1.
Download and upgrade the new version here: https://github.com/PodcastGenerator/PodcastGenerator/releases/tag/v3.0.1

[2020-03-17 17:15] #232 closed

[2020-03-19 14:44] SouthPod opened #233 "Admin Login not working PHP Sessions on server seem correct"
I cannot login to the admin section.  The server PHP version is PHP 7.3 (ea-php73).
I upgraded to Podcast generator version 3.0 yesterday and it did not help.  I have read through other issues listed here and not found a solution.  Please advise.

[2020-03-19 19:05] emilengler commented on #233
Can you upgrade to 3.0.1?
You can find it here: https://github.com/PodcastGenerator/PodcastGenerator/releases/tag/v3.0.1

[2020-03-19 19:49] SouthPod commented on #233
Emil,

Thank you for the response.   I uploaded 3.01 and I am still having the same issue, please advise.

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasement.com>

[2020-03-19 20:38] emilengler commented on #233
Do you have access to the error log and could you give it to me?

[2020-03-19 21:01] SouthPod commented on #233
Sure thing,  here you go:

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasement.com>

[2020-03-19 21:05] emilengler commented on #233
I don't see anything :/

[2020-03-19 21:13] SouthPod commented on #233
I made it a .txt file so you can read it.

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasement.com>

[21-Aug-2018 14:41:32 America/Chicago] PHP Warning:  include(config.php): failed to open stream: No such file or directory in /home4/aderrane/public_html/SouthPodsadena/core/includes.php on line 20
[21-Aug-2018 14:41:32 America/Chicago] PHP Warning:  include(config.php): failed to open st

[2020-03-19 21:16] emilengler commented on #233
Oh, do you know which operating system your server isrunning?

[2020-03-19 21:33] SouthPod commented on #233
Linux.  Here is the server info from the hosting company, BlueHost:

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasement.com>

[2020-03-20 16:42] SouthPod commented on #233
Emil,

Following up on this . Did the Linux information help?

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasement.com>

[2020-03-20 17:42] emilengler commented on #233
Do you have a config.php file in your installation directory?

[2020-03-20 17:57] SouthPod commented on #233
yes.

Here it is:

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasement.com>

[2020-03-22 22:09] SouthPod commented on #233
Emil,

Did anything look wrong in that config.php file?

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasement.com>

[2020-03-23 00:17] emilengler commented on #233
I haven't received a config file

[2020-03-23 00:28] SouthPod commented on #233
Do file attachments work through an email response or do I need to upload it through the github portal.

Ed Donnelly

Sent from an undisclosed location.

[2020-03-23 00:38] SouthPod commented on #233
Here is the file:

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasement.com>

[2020-03-23 04:55] ryangurn commented on #233
The config file seemingly needs to be uploaded, not emailed so that we can see it properly.

[2020-03-23 05:04] ryangurn opened #235 "Session Already Started During Installation"
**System Information**
Podcast Generator Version: 3.1
Webserver: Valet
PHP Version: 7.4.3

**Podcast Generator Config**

[code]

**Expected behaviour**
A normally working GUI and podcast generator would be installed from scratch.

**Actual behavior**
There are a variety of runtime errors that will display on the top of each page.

[code]

**How to reproduce**
Install from scratch seemingly?

[2020-03-23 05:05] ryangurn commented on #233
@SouthPod is this related to #235 ?

[2020-03-23 05:29] ryangurn commented on #230
Can you please provide a sentence or two explaining more in-depth what has been setup. It seems as though you may be attempting to regenerate the podcasts using the cron job however it is not clear.

[2020-03-23 05:32] ryangurn commented on #157
@emilengler Is there a specific reason the information is not being saved to a database of some sort, opting for using MySQL/noSQL/etc?

[2020-03-23 05:38] SouthPod commented on #233
So, it seems I cannot upload a PHP file here.  Is there another format that works?

[2020-03-23 05:39] SouthPod commented on #233
[Config.pdf](https://github.com/PodcastGenerator/PodcastGenerator/files/4367384/Config.pdf)

[2020-03-23 05:47] ryangurn commented on #185
I am going to start working towards implementing this. Mainly going to be working on adding options to the upload area to help handle these options. They will be optional as that is the way that they are in the apple documentation as well.

[2020-03-23 06:43] ryangurn commented on #233
can you send a screenshot of the error too?

[2020-03-23 07:16] ryangurn commented on #216
I think I was able to identify the change that was needed for this to some lines in `core/feed_generator.php` which was pulling all of the supported extensions and doing some looping to get it back from the XML parser form into an array to use within the PHP file.

The previous code was as following.

[code]

However, it really needs to be... to ensure that it's not just getting the first item in

[2020-03-23 07:21] ryangurn commented on #198
According to https://help.apple.com/itc/podcasts_connect/#/itcb54353390 we can use `itunes:image` within the `item` object for the RSS. The fun part of this is that we will need to find a way to upload and keep track of each image file for each specific podcast episode.

This is relatively easy to just throw together however just to be sure that we are all on the same page, the feature desired is

[2020-03-23 10:39] emilengler commented on #198
The problem is less the iTunes Tag, the problem is more the way to extract the audio cover

[2020-03-23 10:40] emilengler commented on #198
I think it is possible with getID3 (the lib we use for mp3 metadata) but I haven't got myself into it that much

[2020-03-23 10:48] emilengler commented on #216
I'm curios on how a type conversion should fix this but I'll test it later today

[2020-03-23 10:52] emilengler commented on #233
When updating, have you replaced all files which had double occurrences.

[2020-03-23 10:53] emilengler commented on #157
@ryangurn Yes!
I also hate to work with text files but there's reason for it.
Back in 2006 when Podcast Generator was first released databases were pretty uncommon and very expensive. This was kept over the years. To allow backwards compatibility I decided to also rely on text files when I rewrote it in late 2019. However I'm looking forward to use MySQL as an optional alternative someday

[2020-03-23 10:55] emilengler commented on #235
Thanks for the fix, like I said I will review this later today.
This is a development version and not a fixed release so such things might happen.
Also thanks for your contributions to the project recently <3

[2020-03-23 10:57] emilengler commented on #233
On ilne 69, can you replace it with
[code]

[2020-03-23 14:24] SouthPod commented on #233
Ok, I changed that but the same problem persists.

What else can we look at?

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasement.com>

[2020-03-23 17:30] munkee commented on #216
It's not the type conversion on the second line that fixes it, it's the change in what your looping over in the foreach. Instead of looping over the mediaFile.extension (there's only one in the first item) it now loops over all of the mediaFile items.

I too will check soon to see if this fixes it.

[2020-03-23 17:31] ryangurn commented on #235
Not a problem, I will probably continue to help where I can

[2020-03-23 17:36] ryangurn commented on #216
exactly @munkee i just had to do the type casting to ensure that they are not added to the array as an xml simple object. We want to ensure that we are looping over strings, I will be changing it to the c standard string cast in a little

[2020-03-23 17:38] ryangurn commented on #198
do we want to extract it from the mp3 or just ask that the user upload a jpg along with the mp3 file?

[2020-03-23 17:39] emilengler commented on #198
First one, this was the way 2.7 handled it

[2020-03-23 17:41] ryangurn commented on #198
ok sounds good, I will look into the source for 2.7 and see if I can match that feature in 3.1. was there a specific subroutine that this was intended to be run in?

[2020-03-23 22:01] kldudeck commented on #198
I am having the same issue - cover art not appearing when uploaded via FTP. This happened about 3 weeks ago and for the life of me, I have no idea how I made it appear in the previous episode.
mudcatblues.com/podcast

[2020-03-24 13:53] vestingz opened #237 "PHP error: Call to undefined function bindtextdomain()"
**System Information**
Podcast Generator Version: v3.0.r72.gfad5f68
Webserver: Apache/2.4.41
PHP Version: PHP 7.2.26; php-gettext installed and enabled

Output of `locale -a`:
[code]

**Podcast Generator Config**

[code]

**Description of your problem:**
Error Message:
[code]

[2020-03-24 19:35] SouthPod commented on #233
It seems similar but I note that

$theme_path = "themes/default/";

$username = "SouthPod";

$userpassword = "\$2y\$10\$0Dvt0.jNHQ.alnchxxz1cuuGL5Q6It8ilIHd1cDmWRibNNTDhR2l6";

$max_upload_form_size = "104857600"; //e.g.: "30000000" (about 30MB)

$username  and $userpassword on not on the config file posted on #235

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasement.com>

[2020-03-24 20:10] emilengler commented on #233
Can you backup your media/ folder and then re-install Podcast Generator? After that copy the media folder to the new location

[2020-03-24 20:11] emilengler commented on #216
Ok, oversaw that

[2020-03-24 20:12] emilengler commented on #230
Can you post your config through the config censor tool?

[2020-03-24 20:13] emilengler commented on #237
Hmmm, 3.1 will definitely include gettext as a static library inside. Nevertheless, can you change the "scriptlang" variable to "en_US.utf8"?

[2020-03-24 20:32] vestingz commented on #237
Changed it, but it throws the same error as above :(

[2020-03-24 20:36] SouthPod commented on #233
Yes,  Should I back up the Feed.xml file also or will it regenerate?

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasement.com>

[2020-03-24 20:59] SouthPod commented on #233
I did a complete clean install.

I am still having the same issue when I try to login to the admin area.

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasement.com>

[2020-03-24 21:22] tomanageit commented on #230
I didn't find the censor tool (https://github.com/PodcastGenerator/PodcastGenerator.github.io/tree/emilengler/2020-02-censor-config-tool).

I attached the files with xx in the private information sectors
[config 3.1 doesntwork.php.txt](https://github.com/PodcastGenerator/PodcastGenerator/files/4377716/config.3.1.doesntwork.php.txt)
[config.2.7.works.php.txt](https://github.com/PodcastGenerator/Pod

[2020-03-24 21:24] emilengler commented on #237
How experienced are you with PHP and server administration?
Can you give me the output of `phpinfo();`?
Maybe a link to it or upload the .html file here

[2020-03-24 21:42] vestingz commented on #237
[phpinfo.zip](https://github.com/PodcastGenerator/PodcastGenerator/files/4377799/phpinfo.zip)
Apparently GH does not support uploading HTML files, so here is a ZIP. I redacted a few sensitive bits.

[2020-03-24 22:06] emilengler commented on #237
Looks like thi is a problem of your server configuration

[2020-03-25 08:41] vestingz commented on #237
OK. Any specific ideas? It's a pretty standard setup except my php-binary, which is php72.

[2020-03-25 10:43] emilengler commented on #237
I'm not sure if this will work but could you try `sudo phpenmod -v 7.0 gettext` and restart your webserver then

[2020-03-25 12:49] miguelangelopereira opened #238 "Can't upload new episode"
**System Information**
Podcast Generator Version: 3.0
Webserver: Azure Web App running Apache
PHP Version: 7.2 (tried 7.3 as well)

**Podcast Generator Config**

[code]

New user here...so sorry if this is something obvious.

I can't upload a new episode..I always get the error "Missing Fields". I'm filling all mandatory fields: File, Title, Short Description, Category, Date & Time, Author.

I tri

[2020-03-25 13:56] miguelangelopereira commented on #238
Solved. Needed to increase POST Size in php ini.

[2020-03-25 13:56] #238 closed

[2020-03-25 14:25] miguelangelopereira opened #239 "Problem with Spotify integration"
**System Information**
Podcast Generator Version: 3.0.1
Webserver: Apache on Azure Webapp
PHP Version: 7.2

**Podcast Generator Config**

[code]

Cannot add feed to spotify. always get the error: "Your RSS feed failed to load. Make sure you added
the right link."

My feed is: http://rpodcast.azurewebsites.net/feed.xml

Any ideas?

[2020-03-25 15:21] emilengler commented on #239
Your feed is invalid because of a bug which was fixed with 3.0.1.
Can you go to the admin panel and click "Manually regenerate RSS feed" under Episode?

[2020-03-25 15:46] miguelangelopereira commented on #239
I believe I'm already 3.0.1 (not sure how to check...). But I downloaded the latest version yesterday. Already regenerated RSS feed multiple times.

I contacted spotify...they told me to fix this:  https://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Frpodcast.azurewebsites.net%2Ffeed.xml

[2020-03-25 16:13] miguelangelopereira commented on #239
You were right...I did not have 3.0.1. It works now 👯‍♂

[2020-03-25 16:13] #239 closed

[2020-03-25 16:34] SouthPod commented on #233
Is it possible that PodCastgenerator is not compatible with the version of PHP being used by my hosting company?

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasement.com>

[2020-03-25 17:08] emilengler commented on #239
Happy Podcasting then :)

[2020-03-25 17:09] emilengler commented on #233
What PHP version you use? It was only tested with 7.3 but it should work on all 7 versions

[2020-03-26 21:16] SouthPod commented on #233
7.0.33

Here is the latest error log:

[24-Mar-2020 14:58:35 America/Boise] PHP Warning:  sizeof(): Parameter must be an array or an object that implements Countable in /home1/aderrane/public_html/SouthPodsadena/themes/default/listepisodes.php on line 3
[24-Mar-2020 15:02:01 America/Boise] PHP Warning:  sizeof(): Parameter must be an array or an object that implements Countable in /home1/aderrane/

[2020-03-26 21:22] emilengler commented on #233
There are only warnings, no errors, does it work?

[2020-03-26 23:56] SouthPod commented on #233
No I still can’t login to the Admin section

Ed Donnelly

Sent from an undisclosed location.

[2020-03-28 10:29] SouthPod commented on #233
It is a Google Chrome issue.  I was able to login no problem using Firefox.

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasement.com>

[2020-03-28 10:36] SouthPod commented on #233
Ok,

I could login to the admin section on FF and could edit everything but the episodes do not appear on the page. I still get this warning displayed on the home page

Warning: sizeof(): Parameter must be an array or an object that implements Countable in/home1/aderrane/public_html/SouthPodsadena/themes/default/listepisodes.phpon line3

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasemen

[2020-03-29 00:59] ozstar opened #240 "Will not upload. Keep getting Invalid Filename"
**System Information**
Podcast Generator Version:  3.01  Softalucious
Webserver:   CloudLinux 6.10
PHP Version: 7.3

**Podcast Generator Config**

[code]

**Description of your problem:**
HI,

I'm sorry to bug. but I am still  having trouble uploading.  I fixed the file names as suggested still bet. missing flieds, yet all have been filled,. or this, 'Invalid mime type, are you actually uploading

[2020-03-29 01:10] cmpilato commented on #240
Unless it's a typo, it appears you have a hyphen in your filename, which is not one of the permitted character classes.  If you need to use an extended set of characters for your episode names, set the `strictfilenamepolicy` configuration setting to "no".

[2020-03-29 04:26] ozstar commented on #240
HI,

I'm sorry to bug. but I am still having trouble uploading. I fixed the file names as suggested still bet. missing fields, yet all have been filled,. or this,
'Invalid mime type, are you actually uploading a mp3', when it is an mp3 that plays everywhere.
or
'The file upload was not successfully', when all fields are filled.
I would love to use your script as it does seem like what i want, but

[2020-03-29 06:43] ozstar commented on #240
Hi,

I deleted the installation then downloaded the file from your site and loaded it from /setup/

Unfortunately I am still having the same problem.

I have attached screenshots which will explain what is happening to me, no matter what file I choose.

It is really weird when I see the good reviews you have and I am having this trouble.
There must be an explanation somewhere.

Many thanks

David

[2020-03-29 10:43] emilengler commented on #240
I'm still sorry for the many issue people still have in 3.0 :/
Most problems actually come from the backwards compatibility.
Does your mp3 file has a cover? In 99% of all cases this is the troublemaker of this issue

[2020-03-29 12:02] emilengler commented on #240
Just fixed the patch in dc4cd1c365bd789f14fd5121490d62ef76159141
Will try my best to release 3.0.2 with a fix as soon as I can :)

[2020-03-29 21:20] ozstar commented on #240
Many thanks Emile.  I appreciate your help and understand the frustration trying to track down problems as I too was once a programmer.
It could be a terrific program once these bugs get sorted out.
Look forward to the patches or new version.
Thanks again and be safe.

[2020-03-29 23:24] ozstar commented on #240
BTW Does it matter if there is MetaData in the file details or what bitrate the MP3 files are?
Is there an program upload limit for the file other that the php one?

[2020-03-30 07:25] emilengler commented on #240
I don't think it matters, it is detected automatically. It is only for the Podcast Clients so the users know which quality it has

YES! I'm thinking about removing it since it is really useless. There is the max_upload_form_size in config.php which has the maximum upload size in byte. Set it to "1000000000" for one GB as example

[2020-03-30 12:36] guipsfr opened #241 "Add Google podcast RSS tags"
**Description**
Is there a way to add google Podcast rss tags requierment,
https://developers.google.com/search/reference/podcast/rss-feed

**Motivation**
I want to publish our podcasts to Google podcast and maybe others wants to.
Google wont publish to there platforme exept if you have the good tags.
https://search.google.com/devtools/podcast/preview

**Legal aspect**

* [x] I am the inventor of

[2020-03-30 12:42] emilengler commented on #241
On my list, I'm going to rewrite the feed generation soon anyways

[2020-03-30 15:35] SouthPod commented on #233
I am still getting this warning on the home page:

Warning: sizeof(): Parameter must be an array or an object that implements Countable in /home1/aderrane/public_html/SouthPodsadena/themes/default/listepisodes.php on line 3

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasement.com>

[2020-03-30 15:54] emilengler commented on #233
This is a problem of your web server configuration. Can you ask your admin to disable displaying warnings on the website

[2020-03-30 16:32] SouthPod commented on #233
Ok, so if the warning does not display, the episodes will?

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasement.com>

[2020-03-30 17:28] emilengler commented on #233
It should

[2020-03-31 00:33] ozstar commented on #240
Hi again Emile,

Tried a few more changes including the max limit upload but still get..
'The file upload was not succesful'

I wonder if this would happen in the previous version too?

Do you have a version that I could try please?

Have a great (safe) day,

We in Sydney Oz are in total lock down. A very strange feeling..

Regards,

David

[2020-03-31 01:01] antonkarliner opened #242 "Where can i download themes?"
Hello! Thanks for the great work.

I tried the demo and there are some beautiful themes included. But they're not present in a fresh installation. Maybe one day I'll write my own theme – but it would be great to have an ability to download existing ones. I tried to google, no luck.

Thanks in advance!

[2020-03-31 10:27] emilengler commented on #242
The current theme system was redone in version 3.0 meaning all previous themes are incompatible now. The current theme system has only one known theme and this is the default one but I'm looking forward in making others. The current theme engine isn't really good either so I'm also planning on rewriting this.

[2020-03-31 10:28] #242 closed

[2020-03-31 10:29] emilengler commented on #240
Can you edit configuration files on your server?

[2020-03-31 10:35] ozstar commented on #240
Yes I have access to all the files via ftp and can change them.

⁣From our Samsung Note 8. Have a great day from Starlite International Prty Ltd

Get BlueMail for Android ​

On 31 Mar. 2020, 9:29 pm, at 9:29 pm, Emil Engler <notifications@github.com> wrote:

[2020-03-31 10:45] emilengler commented on #240
I think you should inspect your webserver configuration.
Google something like
"YOUR WEBSERVER increase upload limit"

[2020-04-01 22:49] SouthPod commented on #233
Emil,

Still getting this warning on the home page.  We adjusted pHp so no errors should be displayed.

In addition the RSS feed is not being updated with the latest episode.  Please advise.
Thank you.

Warning
: sizeof(): Parameter must be an array or an object that implements Countable in
/home1/aderrane/public_html/SouthPodsadena/themes/default/listepisodes.php
on line
3

Ed Donnelly
ed@barbers

[2020-04-02 02:45] ozstar commented on #240
HI,  This is now solved!

Our host changed the upload limits on the server and now everything does upload as long as there are no space, dashes, in the filename. Words MUST be separated by an undercsore ( _ ) or all words linked together.

I just need to try and get an image of the file without having to go to itunes.  I have an image already embeded in the MP3 file.  Can this be done ?

Nice prog

[2020-04-02 03:49] ozstar commented on #240
A couple of things if you don't mind please.

 I do not want any downloads so have done this to the index file but a small button still apreas. How do I remove that button?

[code]
Also the file names are very large on the Home Page, where do I chnage these can't seem to see anywhere.

Thank you

[2020-04-02 09:30] emilengler commented on #240
Good to know that it is working now :)

For your changes I would have a look at `themes/default/` specifically the files index.php, listepisodes.php and singleepisode.php

Also I'm working on a patch right now to allow mp3 cover uploads. Will publish a version which fixes it soon but currently I lack a bit of motivation though :/

[2020-04-02 09:30] #240 closed

[2020-04-02 09:32] emilengler commented on #233
You need to adjust that no **wanings** are displayed

[2020-04-02 17:36] itsckl commented on #195
The feed language field is not initialized from config.php, its value is hardcoded in podcast_details.php:
<option value="en" **selected**>English</option>
Same is true for the "explicit" flag:
<input type="radio" name="explicit" value="no" checked>

I attach a new version of podcast_details.php with a fix (this also adds  dropdown for the script language).
[podcast_details.zip](https://github.com

[2020-04-02 18:30] itsckl commented on #188
I had the same problem with German language setting.
Although I don't fully understand the translation system used in podcastgen, I've done a fix to translation.php which did the trick for me.
[translation.zip](https://github.com/PodcastGenerator/PodcastGenerator/files/4422966/translation.zip)

[2020-04-02 19:29] emilengler commented on #188
@itsckl I've looked at it, it is a good idea!
Are you familiar with opening a pull request on github? Otherwise I can commit for you but I need you permission to publish it into the public domain

[2020-04-02 22:58] itsckl opened #243 "Timed release might not work with FTP feature"
**System Information**
Podcast Generator Version: 3.01
Webserver: nginx
PHP Version: 7.3

**Expected behavior**

I should be able to modify the publication date of upload content on my Synology box.

**Actual behavior**
Uploading works fine, but the publication date/time cannot be changed.
The reason is that podgen tries a touch() on the uploaded file.  However, this fails with EACCESS cause the f

[2020-04-03 06:24] itsckl commented on #188
Sure, go ahead!

[2020-04-03 08:33] emilengler commented on #243
Can you give your web server the permissions?

[2020-04-03 08:39] nneil opened #244 "Fails at setup/step1.php"
**System Information**
Podcast Generator Version: v3.0
Webserver: Apache 2.4.39
PHP Version: 7.2.19

**Expected behavior**
I want step1.php to work

**Actual behavior**
I get an error 500, but nothing in Apache logs

**How to reproduce**
- Install to folder on webserver.
- Browse to /podcastgen/setup/
- That works
- Click on green button
- Get error 500

[2020-04-03 08:41] nneil commented on #244
I managed to work out how to turn on error reporting!

---
Fatal error: Uncaught Error: Call to undefined function simplexml_load_file() in /var/www/html/podcastgen/setup/step1.php:15 Stack trace: #0 {main} thrown in /var/www/html/podcastgen/setup/step1.php on line 15
---

[2020-04-03 16:38] emilengler commented on #244
Can you install the package `php-xml`?

[2020-04-03 16:49] SouthPod commented on #233
Ok all errors and warnings are set not to be displayed or reported and we are still getting the same warning message and no new episodes displayed or added to the feed.xml file.

Ed Donnelly
ed@barbersbasement.com <mailto:ed@barbersbasement.com>

[2020-04-03 19:33] nneil commented on #244
That fixes it. Maybe add that to your quick install page.

[2020-04-03 19:33] #244 closed

[2020-04-03 19:44] nneil commented on #221
I'm using a fresh install of 3.0.1. I had to turn off strictfilenamepolicy to get anything to work. But now it always says

[code]

No matter how many times I run it. But no new episodes are added.

[2020-04-03 19:46] nneil opened #245 "Edit / Delete Episode Broken"
**System Information**
Podcast Generator Version: 3.0.1
PHP Version: 7.2.24

**Podcast Generator Config**

[code]

**Expected behavior**
I want to edit the list of episodes

**Actual behavior**
I get taken to the homepage

**How to reproduce**
From Admin choose "Episodes" -> "Edit / Delete Episode"

[2020-04-03 19:55] nneil opened #246 "Successfully regenrated RSS feed"
This is a misspelling. It's correct in the code, but wrong in the translation. So I'm not sure how it is finding the correct spelling to translate it to the wrong one in the EN_US locale.

[2020-04-03 20:09] emilengler commented on #221
Can you give me the file permissions of your media directory?
On Unix you can do
[code]

[2020-04-03 20:10] emilengler commented on #245
Like I answered earlier, can you show me your permissions of the media directory?

[2020-04-03 20:15] nneil commented on #221
drwxrwxrwt 2 root root 8192 Apr  3 21:11 media/

The media files themselves were publicly readable. But owned by another user. I changed them to apache.apache and now the indexing works.

[2020-04-04 10:02] JLF69 opened #247 "Error since moving Podcast Generator to new Synology Diskstation"
**System Information**
Podcast Generator Version: 2.6-0109
Webserver: Synology Diskstation 1817+
PHP Version: 2.6

**Podcast Generator Config**

[code]

**Description of your problem:**

I get the following error when trying to regenerate the RSS feed:

Warning: fopen(/volume1/web/podcastgen/feed.xml): failed to open stream: Permission denied in /volume1/web/podcastgen/core/functions.php on line 1

[2020-04-05 20:10] Marco-Lugo opened #248 "Two bugs?"
System Information:
Podcast Generator Version: 3.0.1
PHP Version: 7.3.5

After a fresh install in the main page of Podcast Generator I have this warning:
Warning
: sizeof(): Parameter must be an array or an object that implements Countable in
/home/mhd-01/www.tearsinrain.it/htdocs/podcast/themes/default/listepisodes.php
on line
3

I don't know if it's a consequence of this warning message but I ca

[2020-04-05 20:35] dank2882 opened #249 "Missing Fields Error"
**System Information**
Podcast Generator Version: 3.1
Webserver: fbc.live
PHP Version: 5.6

**Podcast Generator Config**

[code]

**Description of your problem:**
I'm afraid this is just dumb user error but I can't figure out what I am doing wrong. I have filled out all the fields, made sure my file size is not to large, filled out all fields and no matter what I do I keep getting the Missing fiel

[2020-04-06 08:10] emilengler commented on #249
You said you use 3.1,
3.1 is not released yet.
Where do you downloaded your version?

[2020-04-06 08:11] emilengler commented on #248
Where do you get the themes? AFAIK there is currently only one 3.0 theme available. Keep in mind that all old PG themes are incompatible.

[2020-04-06 09:43] Marco-Lugo commented on #248
I can't see the "default" theme provided in the installation zip file.

[2020-04-06 10:53] emilengler commented on #248
It is located under `PodcastGenerator/themes/default`

[2020-04-06 12:45] Marco-Lugo commented on #248
Yes but you can see it in the "Change theme" page?
Me not.

[2020-04-06 14:53] damiencarol commented on #198
@ryangurn @emilengler I can confirm that the 2.7 allowed to upload a file **for each** podcast and we use it.

[2020-04-06 14:54] emilengler commented on #198
I'm already working on a patch by the way

[2020-04-06 16:49] emilengler commented on #248
I still don't get what you mean.
Can you show me some screenshots?

[2020-04-06 17:29] dank2882 commented on #249
I'm so sorry, looks like i was just being lazy when I looked at the file. I'm on version 3.0.1.

Dab

[2020-04-06 18:42] emilengler commented on #249
Can you post your error log

[2020-04-06 21:05] workaround commented on #248
Hi Marco,

to show the default theme in your 3.0.1 configuration you need to change the version for which theme is declared compatible.
To do that you must add 3.0.1 in file theme.json:
From: `"pg_versions": ["3.0"],`
To: `"pg_versions": ["3.0", "3.0.1"],`

In order to hide warning in file listepisodes.php you can simply add this check on top:
`if (!isset($episode_chunk)) { $episode_chunk = []; }`

[2020-04-06 23:12] Marco-Lugo commented on #248
Thanks workaround now work well. :)

[2020-04-07 08:30] #248 closed

[2020-04-07 16:08] #249 closed

[2020-04-08 11:11] Grisu1959 opened #250 "Installation problem"
Hello
I installed PODCAST GENERATOR with Softacoulus
the installation seems ok but it doesn't work
http://pdudine.it/podcast/
http://pdudine.it/podcast/admin/login.php

I have a white page HTTP ERROR 500
Wich could be the problem?

[2020-04-08 12:28] Grisu1959 commented on #250
Fatal error: Uncaught Error: Call to undefined function bindtextdomain() in /home/hostingandes/public_html/pdudine.it/podcast/core/translation.php:14 Stack trace: #0 /home/hostingandes/public_html/pdudine.it/podcast/core/include.php(23): include() #1 /home/hostingandes/public_html/pdudine.it/podcast/index.php(11): require('/home/hostingan...') #2 {main} thrown in /home/hostingandes/public_html/pdu

[2020-04-08 14:05] emilengler commented on #250
You don't have php-gettext installed, can you install it somehow?

[2020-04-08 17:24] Grisu1959 commented on #250
The support installed it
and now it's working fine

Thanks

Il giorno mer 8 apr 2020 alle ore 16:05 Emil Engler <
notifications@github.com> ha scritto:

[2020-04-08 17:43] Grisu1959 opened #251 "Sharing files on FB (or other socials)"
Hello
I would like know if it's possible realize an option to share a podcast on a socialnetwork?

Thanks

[2020-04-08 22:58] antonkarliner commented on #195
@itsckl thanks! your fix helped me as well!

[2020-04-09 07:48] #250 closed

[2020-04-09 07:49] emilengler commented on #195
@itsckl Thanks!

[2020-04-09 07:49] #195 closed

[2020-04-09 07:51] #192 closed

[2020-04-09 17:24] hervinjr opened #253 "Adding Chapter Markers to Episodes"
**System Information**
Podcast Generator Version: PG 2.7
Webserver:  XAMPP 7.4.1
PHP Version:

**Podcast Generator Config**

[code]

**Description of your problem:**
I was recently asked if it is possible to add Chapter markers so that listeners can jump to specific interviews in the Podcast.  Does this feature exist?

[2020-04-09 20:54] emilengler commented on #253
No this is not possible but you can add the location in the video in the long description like

11:12 - Interview with John Doe

[2020-04-09 20:54] #253 closed

[2020-04-10 13:22] eichmmar commented on #249
I have the same problem here. It seems that $_POST is emty...

[2020-04-10 15:32] emilengler commented on #249
Do you have an error log or something?

[2020-04-10 20:31] eichmmar commented on #249
No, there is no error or any warnings. Just the message that not all required fields have been filled.

[2020-04-15 01:46] Brent89 opened #254 "EFO Podcast"
**Description**

**Motivation**

**Legal aspect**

* [ ] I am the inventor of this idea or the idea is public domain
* [ ] I release this idea into the public domain

[2020-04-15 09:06] #254 closed

[2020-04-15 16:59] StrikerObi opened #255 "Unable to upload podcast cover art"
**System Information**
Podcast Generator Version: 3.0.1
Webserver:
PHP Version:

**Podcast Generator Config**

[code]

**Description of your problem:**

When attempting to upload cover art for our podcast, I am receiving an error that says "the image is not quadratic". I'm not really sure what that means, so I have no clue as to how to solve it. And I didn't see anything in the documentation about

[2020-04-16 23:09] createcpty opened #256 "Hello I can't generate the podcast on spotify and the rss or the fedd is only for itunes this is very bad that"
**System Information**
Podcast Generator Version:
Webserver:
PHP Version:

**Podcast Generator Config**

[code]

**Expected behavior**

**Actual behavior**

**How to reproduce**

[2020-04-17 09:19] emilengler commented on #256
I've been working on a new feed generator for the next release

[2020-04-17 09:19] #256 closed

[2020-04-20 20:54] jtkprint opened #257 "Edit Episode Information Not Saving Updated Info"
Podcast Generator Version: 3.0.1
Webserver: Ubuntu 18.04.4 running VestaCP
PHP Version: 7.2

**Podcast Generator Config**

(Sidenote, the tool at the above URL didn't work for me. I've censored it myself, so let me know if I removed something you need to see)
[code]

[2020-04-21 16:33] Strider3000 opened #258 "Remove spaces in media files"
Previous version of PCG removed spaces in media file names by replacing spaces with underlines '_'. Can this version do the same? I couldn't get Outcast on apple watch to grab episodes from my private PCG server instance. When I wrote the developer he replied by demonstrating that space characters were breaking his app's ability to grab those media files.

[2020-04-21 16:44] emilengler commented on #258
I don't think the current version can. Can you just remove/replace the spaces in the filenames

[2020-04-21 20:28] pointspreadmedia opened #259 "Multiple Users"
**Description**

I really need a way to manage multiple users rather than multiple episodes. I need a system where users can log in to upload their own episodes, maybe customize their show's profile page, etc. That would really put this product over the top.

**Motivation**

**Legal aspect**

* [ X ] I am the inventor of this idea or the idea is public domain
* [ X ] I release this idea into the p

[2020-04-22 10:27] emilengler commented on #259
Already added, will be in the 3.1 release expected on 31th of May 2020

[2020-04-22 10:27] #259 closed

[2020-04-22 12:54] z1tr0t3c commented on #251
What about the privacy-friendly [c't Shariff-Buttons](https://github.com/heiseonline/shariff)?

[2020-04-22 13:55] emilengler commented on #251
You can just post the link to social media

[2020-04-22 15:01] z1tr0t3c commented on #251
Why not update the old 2.x-Feature, to show these social-sharing buttons but now privacy friendly?

[2020-04-22 22:51] 0scubasteve0 opened #260 "New uploads not showing up"
Hello,
New to the project, just spun it up on a server. I uploaded a test MP3, filled in the necessary info and it claimed the upload was successful. In the /media directory I can see the mp3 and the generated XML file, but the homepage doesn't show the episode. The entire www folder is owned by www-data and the user has read/write permissions. You can take a look at https://thatyearinfilm.com.

A

[2020-04-23 00:28] smitzter opened #261 "is there a way to remove download button?"
is there a way to remove download button?

[2020-04-23 10:25] emilengler commented on #261
Yes, edit `themes/default/listepisodes.php` and remove line 27 and 28. Now put this line on line 27:

[code]

Then remove line 37 in `themes/default/singleepisode.php`

[2020-04-23 10:25] #261 closed

[2020-04-23 10:30] emilengler commented on #260
Hi, thanks for using Podcast Generator!
Can you post your error log?

If you use apache you should find it under `var/log/apache/error.log`.
On nginx: `/var/log/nginx/error.log`

[2020-04-23 15:33] emilengler commented on #260
This looks more like an access.log. Are you sure it is the error.log

[2020-04-23 15:48] 0scubasteve0 commented on #260
Apologies, I think there were some weird symbolic link configurations with Apache. I think I have the right data now, a lot of PHP errors.
[error2.log](https://github.com/PodcastGenerator/PodcastGenerator/files/4523625/error2.log)

[2020-04-24 03:22] smitzter commented on #261
Hi, Thank you. I was very careful and did exactly this but now the episodes are not visible at all.

[2020-04-24 08:47] emilengler commented on #261
Ok, can you reset the files and then post the source of the files here? I will modify it for you so you just need to copy and paste the entire file

[2020-04-25 17:12] chrisallick commented on #222
Hello, I am having the same issue. The evaluate button was throwing an error so i tried to manually cleanse my file:

`<?php

$podcastgen_version = "3.0.1"; // Version

$first_installation = 1587832495;

$installationKey = "";

$scriptlang = "en_US";

$url = "https://clubsexytime.com/projects/podcast/PodcastGenerator/";

$absoluteurl = "/home/sexy/clubsexytime.com/projects/podcast/PodcastGenerator

[2020-04-26 07:21] emilengler commented on #260
I'm working on this now but unfortunately I cannot reproduce the issue

[2020-04-26 07:51] emilengler commented on #260
I hope 4e7a61e7cade209e4e4410261bb9b5e3bdda18ad fixed it

[2020-04-26 08:30] emilengler commented on #260
Ok, I looked a bit deeper in your site. The problem resides in your .xml file in the media directory. Could you remove the ampersand and replace it with a word? There was a bug in the past which didn't allowed special characters. Fixing this should do the trick!

[2020-04-26 08:30] #260 closed

[2020-04-26 09:53] emilengler commented on #198
Good news, it is now possible to select a image when setting it inside the <imgPG> tag in the specific XML file.
694e7ea2b69a53137f97c186444a8fa745e14961

I will now add a feature that PG extracts the images from the mp3 files automatically.

[2020-04-26 12:21] 0scubasteve0 commented on #260
That solved it! Thanks so much for looking into it.

[2020-04-26 12:55] emilengler commented on #260
No problem. I'm also working on a fix for this expected in the next released on the 31th of May this year :)

[2020-04-26 18:42] #198 closed

[2020-04-26 18:43] emilengler commented on #198
Ok just finished the patch :-)
Will be released with version 3.1 expected to arrive on 31th of May

[2020-04-27 07:29] emilengler commented on #255
Fixed! The new version will be deployed on 31th of May!

[2020-04-27 07:29] #255 closed

[2020-04-27 11:23] Strider3000 commented on #258
I've removed the spaces manually. Could PGC 3.1 please automatically fill-in spaces? thanks

[2020-04-27 14:31] emilengler commented on #258
Ok, but I won't add backwards for old files. It will only apply to new files then.

[2020-04-27 14:40] Strider3000 commented on #258
Fine by me - thanks

[2020-04-28 16:53] paulbame opened #262 "blanks in file names fail"
**System Information**
Podcast Generator Version: 3.0.1
Webserver: lighttpd 1.4.53
PHP Version: 7.3.14

**Podcast Generator Config**

[code]

**Expected behavior**
Uploaded mp3 which had blanks in the file name. Expected RSS file to encode this so that podcatchers could properly fetch and play the file.

**Actual behavior**
RSS <link> and other fields retained blanks in the URL for the mp3 file, c

[2020-04-29 10:28] nemosmithasf opened #263 "Password protecting the feed and front-end"
**Description**
I use Podcast Generator mostly to host personal audio-files that I and a few friends can then access through the Podcast app via iPhone.

Due to their personal nature, it's ideal if there's a way to password protect access to the files. However, I don't believe this feature is currently supported by PodcastGenerator.

**Legal aspect**

* [x] I am the inventor of this idea or the id

[2020-04-29 11:21] emilengler commented on #263
There is already a front-end protection added in 3.1 whcih will be released in 1 month.
However it is not possible to protect the feed without changing your webserver configuration instead I could add a way to disable the feed generation

[2020-04-29 11:24] emilengler commented on #159
I added this for 3.1 a few days ago. Will be released on 31th of May this year.
A bulk change of all episode covers is probably better done with an external script. If there is need for it I can write one

[2020-04-29 11:24] #159 closed

[2020-04-30 10:08] emilengler commented on #201
Sorry I cannot reproduce this. Can you give me the mp3 file you used? @alwa

[2020-04-30 10:29] #191 closed

[2020-04-30 10:29] emilengler commented on #191
Thanks, fixed now

[2020-04-30 11:05] #262 closed

[2020-04-30 11:09] emilengler commented on #246
You can fix the translations [here](https://www.transifex.com/albertobeta/podcast-generator/)

[2020-04-30 11:09] #246 closed

[2020-04-30 11:15] emilengler commented on #243
I cannot reproduce this sorry

[2020-04-30 11:21] emilengler commented on #164
Thanks for the report!
I can finally reproduce. Working on a fix right now

[2020-04-30 13:06] emilengler commented on #243
Ok, will reopen then. I was just working on fixing the bugs and closing the non bug issues as the next release is coming soon

[2020-05-01 10:53] alwa commented on #201
@emilengler This one for example: http://salongsberusadhistoria.champagneklubben.com/media/2019-06-28_fem_ser_rott.mp3

[2020-05-01 16:49] AmeelMD commented on #216
Hi @emilengler I am having the same feed not containing any media issue as well, for years I've been using version 2.x and it's been great except when it stopped accepting any changes to anything :(
I made the decision to do a clean install of 3.x although 3.x doesn't want to populate the feed. I have been using .m4a files (enhanced podcast with chapter makers) with no issue until this point. Look

[2020-05-01 16:59] emilengler commented on #216
Thanks^^

[2020-05-02 06:32] emilengler commented on #201
You were right, it is indeed a low level bug. I use a getID3 function for getting the mime type now. It works much better even with cover arts

[2020-05-04 18:03] BenoitFuric commented on #251
Hi everyone, glad to see the project still alive.
More than social media buttons, I guess the most important to be visible is to have good preview on OpenGraph, with attractive cards for index et each episode (as far as we can).

I just finished a custom theme and I made some improvement on `<head>` to integrate some metadata. And it works !

I still have to work on `imgPG` to be accurate but the

[2020-05-04 18:42] emilengler commented on #251
Hey @BenoitFuric thanks for your improvement!
If you are not familiar with GitHub you can send me your theme and/or patches as a ZIP archive to the E-Mail provided on my GitHub profile. I will include it into the source code and give you proper credit

[2020-05-05 12:20] juhenriquez opened #264 "Cover Art Will not update."
**System Information**
Podcast Generator Version: 3.0.1 - Commit 57c4bf03b3ce05743b48d7e033622847cd63f252
Webserver: nginx/1.14.0 (Ubuntu)
PHP Version: php-fpm 7.2

**Podcast Generator Config**

[code]

**Expected behavior**
UPDATE Image on cover art.

**Actual behavior**
When I go on to /PodcastGenerator/images I see itunes_image.jpg image has update to my uploaded image, in admin panel it keep's

[2020-05-05 13:10] emilengler commented on #264
You should not run master. Please go to the release page and download 3.0.1 there https://github.com/PodcastGenerator/PodcastGenerator/releases/tag/v3.0.1

[2020-05-07 12:41] BenoitFuric commented on #251
Hi @emilengler, I finally did a pull request for my modest contribution.

[2020-05-07 12:44] emilengler commented on #251
Hi @BenoitFuric
I will review your PR probably tomorrow. Will spent the weekend on improving PG to make it ready for the release on the 31th!

[2020-05-07 13:13] ThomasLeigh opened #266 "Cannot edit episodes."
**System Information**
Podcast Generator Version: 3.0.1
Webserver: InterServer
PHP Version: 7.1.33

**Expected behavior**
Successfully edited episode.

**Actual behavior**
Cannot edit episodes details. Once I click "Edit Episode", it reloads to default values (which have been obtained via FTP Feature, I guess).

**How to reproduce**
1. Index episodes via FTP Feature.
2. Edit an episode details.

[2020-05-07 13:56] ThomasLeigh commented on #266
I am not sure does this help, but the reason I use FTP indexing is that I haven’t been able to upload episodes by standard way: once uploading reached 100%, the page has been reloaded to the same form to begin upload an episode.

[2020-05-07 14:02] ThomasLeigh commented on #266
Related to https://github.com/PodcastGenerator/PodcastGenerator/issues/257 and https://github.com/PodcastGenerator/PodcastGenerator/issues/245 .

@emilengler

rwxrwxrwx (0777)

[2020-05-07 14:53] ThomasLeigh commented on #266
I just discovered that it also does not allow changes within config.php . Even if I change it and upload the file - it all still remains unchanged within the admin panel. Config.php permissions: rw-r--r--

[2020-05-08 13:31] emilengler commented on #266
Is there something like an error log which you can post?

[2020-05-08 14:44] ThomasLeigh commented on #266
@emilengler  I will try to obtain those logs. In the meantime is there anything I could do? I have done a clean installation of PG, but to no avail. :(

I’ve heard that May 31 may be a new PG release, could this help?

[2020-05-08 14:46] emilengler commented on #266
As long as I cannot reproduce the issue I cannot gurantee that it will be fixed in 3.1. However it might be a good idea to add more informations on the screen like why this error occurs

[2020-05-08 14:47] ThomasLeigh commented on #266
Where I can find those information? I supposed You’ve talked about hosting logs?

[2020-05-08 15:15] emilengler commented on #266
Do you have shell access to your server?

[2020-05-08 15:17] ThomasLeigh commented on #266
I’m sorry, I don’t know :( I am not a haker like You ;) :)

[2020-05-08 15:44] ThomasLeigh commented on #266
What about this:

[08-May-2020 15:25:29 UTC] PHP Deprecated:  Function mcrypt_create_iv() is deprecated in /home/trailoft/public_html/audycje/Molium/update_pass.php on line 97
``

[2020-05-08 16:05] ThomasLeigh commented on #266
All the previous installations of PG I’ve done via Softacoelous App Installer. Now I’ve done this by hand, with the same result: cannot change anything within “Change Podcast Generator Configuration” section. config.php permissions rw-r--r-- (0644)

[2020-05-08 19:22] emilengler commented on #266
Ok, can you change the config.php permissions to rwxrwxrwx (0777)?
Not the best approach but it should do the job. A non saving config is mostly the result of invalid permissions

[2020-05-08 19:37] ThomasLeigh commented on #266
@emilengler I’ve already tried that one. Surprisingly enough, it does not help.

rwxrwxrwx (0777)

[2020-05-08 21:57] ThomasLeigh commented on #266
No error logs, unfortunately. There is only “molium.trailofthelight.xyz-ssl_log” full of POST and GET lines...

[2020-05-09 10:29] saasnuthusk opened #267 "When I try to validate my xlm iTunes says my explicit tag is not there or empty but I can see it is in the XML feed."
**System Information**
Podcast Generator Version:
Webserver:
PHP Version:

**Podcast Generator Config**

[code]

**Expected behavior**

**Actual behavior**

**How to reproduce**

[2020-05-09 14:15] computertalkradio commented on #266
I am experiencing this same problem.

\PHP_ERRORLOG contains a number of these per day:
[09-May-2020 07:58:10 CST6CDT] PHP Parse error:  syntax error, unexpected 'normal' (T_STRING) in /home/benjam66/public_html/computertalkradio.com/podcastCTR/config.php on line 81

\ADMIN\PHP_ERRORLOG contains:
[09-May-2020 08:57:28 CST6CDT] PHP Deprecated:  Function get_magic_quotes_runtime() is deprecated in /

[2020-05-09 15:02] computertalkradio commented on #264
This problem still exists in 3.0.1.  I just did a fresh install, and had to manually update the image.

[2020-05-09 16:28] emilengler commented on #267
Already fixed. New version will be deployed on the 31th of May

[2020-05-09 16:28] #267 closed

[2020-05-10 10:28] PeterAlfonsLoch opened #268 "Missing Language: Luxembourgish"
Could you please add Luxembourgish as a selection possibility for the main podcast language?

[2020-05-10 10:56] PeterAlfonsLoch commented on #264
Same issue here, it doesnt work I have release version

[2020-05-10 11:06] PeterAlfonsLoch commented on #264
I tried disabling cache, and then it showed up.

[2020-05-10 14:21] emilengler commented on #268
I cannot speak this language but I added it to our transifex project.
If you or someone you know can speak english he/she can help to translate the project.
https://www.transifex.com/albertobeta/podcast-generator/language/lb/

[2020-05-10 14:21] #268 closed

[2020-05-10 14:39] PeterAlfonsLoch commented on #268
I did not ask to have the whole thing translated, just to have it in the selection list in the podcast info. so i can set the podcast to be in Luxembourgish.

[2020-05-10 16:07] emilengler commented on #268
Oh sorry my fault :smile:
In that case edit `admin/podcast_details.php`
And add this to the long language section:
[code]

[2020-05-10 21:32] hallvors commented on #264
I'm just testing out PCG and I'm also seeing this issue. I can confirm it is a caching issue, showing the image and reloading fixes things. I suggest adding a random string to the URL for cache busting after an upload. You may also look at ETag / If-None-Match cache headers that should also fix the problem if applied (though I have not looked at the headers sent for this file).

[2020-05-10 21:40] emilengler commented on #264
@hallvors Good idea, will do that

[2020-05-10 21:40] #264 closed

[2020-05-10 21:50] hallvors commented on #266
I have uploaded MP3 files with FTP and indexed them. After editing, I land on a page saying the episode does not exist.. :o

[2020-05-10 22:00] hallvors commented on #266
Going from
/index.php?name=2020-05-10-Oliver_Twist_kapittel_04.mp3
through edit button to
/admin/episodes_edit.php?name=2020-05-10-Oliver_Twist_kapittel_04.mp3
where I change the title (for some reason it has omitted "04") and change the date to an earlier one. Submitting redirects to
/index.php?name=2020-05-10-Oliver_Twist_kapittel_04.mp3
and it says "not found". The MP3 file still exists and so

[2020-05-11 09:42] emilengler commented on #266
Ok, I will have a deeper look at it soon

[2020-05-13 19:54] PeterAlfonsLoch commented on #267
What is the issue?

[2020-05-13 23:29] juhenriquez opened #269 "Support Episode Specific Images"
**Description**
Support Episode Specific Images
**Motivation**
Customized Art per episode to be uploaded to spotify and other sources.
**Legal aspect**

* [x ] I am the inventor of this idea or the idea is public domain
* [x ] I release this idea into the public domain

[2020-05-15 13:29] emilengler commented on #269
Will be released in 3.1 on 31th of May

[2020-05-15 13:29] #269 closed

[2020-05-15 13:30] emilengler commented on #267
@PeterAlfonsLoch It used a variable name which does not exist. Therefore the field was empty in the feed and it was invalid

[2020-05-16 10:18] emilengler commented on #164
Fixed now. I can index a file with that name^^

[2020-05-16 10:18] #164 closed

[2020-05-16 10:35] #216 closed

[2020-05-18 14:44] #263 closed

[2020-05-18 14:50] emilengler commented on #241
Should be fixed now

[2020-05-18 14:50] #241 closed

[2020-05-18 14:51] emilengler commented on #167
@cmpilato I think this is fixed now? Can I close it?

[2020-05-21 08:43] #167 closed

[2020-05-21 08:48] #165 closed

[2020-05-21 08:55] #258 closed

[2020-05-21 08:55] emilengler commented on #258
Fixed, thanks for the report!

[2020-05-21 08:58] emilengler commented on #201
@alwa The file you provided works perfectly in the PG 3.1 "snapshot"
It'll probably be fixed with that version expected on the 31th of May

[2020-05-21 08:58] #201 closed

[2020-05-21 08:58] emilengler commented on #266
Can you give me the original mp3 and XML file so I can try to reproduce?

[2020-05-21 11:41] ThomasLeigh commented on #266
Here You are:

- [.mp3](https://trailofthelight.xyz/audycje/Molium/media/2020-05-21-Molium01.mp3)
- [.xml](https://trailofthelight.xyz/audycje/Molium/media/2020-05-21-Molium01.xml)

[2020-05-21 12:29] emilengler commented on #266
Thanks!

[2020-05-22 01:09] jasonsgroovemachine opened #270 "Password Converter"
I just upgraded to 3.0.1 and I am stuck at the Password Converter screen. I seem to remember this being an issue I had last time as well. I've opened the config.php and edited the password there and it still keeps telling me that my password is not correct.

"Password Converter

Password is not correct

The way your pasword is stored, is broken for over 14 years as of 2019.
This agent will help yo

[2020-05-22 09:03] emilengler commented on #270
Please enter your password here: https://passwordhashing.com/BCrypt

and then put the output into the

`$userpassword = "\$2b\$10\$vDzls6H4hBCi3/HxmZqYeeTzA6jrvfMTsPKQDpoGRTMfDMn0iq31e"`

Be sure to put a `\` before every dollar sign

[2020-05-22 12:54] jasonsgroovemachine commented on #270
That's... very much not what's in the documentation.
________________________________
From: Emil Engler <notifications@github.com>
Sent: Friday, May 22, 2020 3:03 AM
To: PodcastGenerator/PodcastGenerator <PodcastGenerator@noreply.github.com>
Cc: jasonsgroovemachine <jasonsgroovemachine@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [PodcastGenerator/PodcastGenerator] Password Conver

[2020-05-22 14:23] thebearddontlie opened #271 "Step 3 Fatal Error"
**System Information**
Podcast Generator Version: 3.0.1
Webserver: Linux
PHP Version: 5.3

**Podcast Generator Config**

[code]

**Description of your problem:**
I cant get past this part of the setup
Fatal error: Call to undefined function password_hash() in /setup/createconf.php on line 28

[2020-05-22 14:26] thebearddontlie commented on #271
I just updated my php to 5.6 and still same error

[2020-05-22 14:39] #271 closed

[2020-05-22 15:29] emilengler commented on #271
Have you fixed it? PG requires a version of PHP 7.0 or higher

[2020-05-22 15:52] thebearddontlie commented on #271
It kinda started working. But on the website it said required min php 5.3 which i had but i updated to php 5.6 and the error originally stated changed to a different error but it let me continue and i can log in now at least

Sent via the Samsung Galaxy Note10+, an AT&T 5G Evolution capable smartphone

________________________________
From: Emil Engler <notifications@github.com>
Sent: Friday, May

[2020-05-22 21:56] j-atoms opened #272 "Installation tutorial for Self Hosted"
I am attempting to install PG on an Ubuntu LTS host. I have installed both Apache2 and PHP 7.2.

Both are active via systemctl.

I wget PG and unzip it into /var/www/html. So I see /var/www/html/PodcastGenerator-3.0.1.

Now I navigate to 192.168.1.4/PodcastGenerator-3.0.1/PodcastGenerator/setup/ in my browser.

I then select "Begin Installation" and am met with a blank screen.

Does anyone have a

[2020-05-23 07:48] emilengler commented on #272
Hello @j-atoms!
Thanks for using Podcast Generator.
First in the zip archive is another folder called PodcastGenerator/
This is the folder you actually want to copy so please move it out of the PG directory to /var/www/html.

After this please install these packages `sudo apt install php-gettext php-xml`
If php-gettext is not available, try to not install it. Maybe it is not required on Ubuntu

[2020-05-23 07:49] emilengler commented on #272
Also after this, please do `sudo chown -R www-data:www-data /var/www/Path/To/YourPodcastGeneratorInstallation`

[2020-05-23 10:45] antonmarks123 opened #273 "Editing the webpages"
Hi,
How can I add a menu on the webpage (Next to home and all epidodes and admin) and add pages to my website?
Can I open index.php in an html editing software and see the site as it looks?
I'd love to add program notes to each episode page.
I have coffeecup html editor but it doesnt display the site correctly.
Any help would be greatly appreciated.
I love the PodcastGenerator but would love to be

[2020-05-23 12:14] emilengler commented on #273
Hello Anton.
Currently there is no built in way on doing this.
I would create a new file in the base podcast generator directory called `programnotes.html`. There you can do all the HTML stuff like putting content into it and so on. After, go to `themes/default/navbar.php` and add this after line 19.
`            <li class="nav-item">
                <a class="nav-link" href="programnotes.html">Pr

[2020-05-23 13:35] antonmarks123 commented on #273
Thanks so much for your help, but I can't find a navbar.php file in any of my theme folders.
I have the latest version of your generator.
I'm actually using exposure as the theme.
Thanks again
![podcast](https://user-images.githubusercontent.com/54483421/82732035-60ab4d00-9d13-11ea-9a38-dd50fc959415.png)

[2020-05-23 14:13] antonmarks123 commented on #273
![kol](https://user-images.githubusercontent.com/54483421/82732858-afa7b100-9d18-11ea-857e-2cf8fd585774.png)

Is it named something else?

[2020-05-23 14:51] antonmarks123 commented on #273
![kol3](https://user-images.githubusercontent.com/54483421/82733646-e16f4680-9d1d-11ea-9632-738a8774593c.png)

This is the index.htm file that is in the theme folder of the theme that I am using. Can I add the new menu here somehow?

[2020-05-24 10:00] emilengler commented on #273
Oh you use version 2.7?
I can't help you with that, sorry

[2020-05-24 10:13] emilengler commented on #157
Alright guys, here is an short update!
I now plan to do one issue per day assigned to the milestone.
After I'm done with these I'll fix bugs and work on the API.
Maybe the release will delay 1-2 days because of missing translations.
Thanks, Emil

[2020-05-24 10:31] emilengler commented on #161
Ok looks like it is not that easy to allow episode download by ZIP. This is because it can take lots of time and lots of resources and lots of disk space until a ZIP archive was created. Most clients will already give up because of a timeout. Also many webservers probably block such a action because of a too high resource usage. I'm currently working on an alternative way to bulk download episodes

[2020-05-24 11:36] #161 closed

[2020-05-24 11:37] emilengler commented on #161
Thanks, added

[2020-05-25 17:57] j-atoms commented on #272
Thank you @emilengler for your help. The package php-xml was already installed so I just added php-gettext. I can progress through the install. After creating admin credentials I login to the admin page. Then I created a test podcast, completing all of the fields, and submit. An error occurs where I am told "Missing fields". Additionally, none of the toggles, such as "Explicit content", stay persi

[2020-05-25 19:44] Revbaw commented on #266
Since update to 3 I can't edit previous episodes nor can I upload new ones.  I can only see 6 previous episodes.
  Nor can I upload new ones.  It seems to upload the file fine but PodcastGenerator comes back with: "Invalid filename, only A-Z, a-z, underscores and dots are permitted".  Doesn't seem to matter what I name the file.  Even gave media directory 777 permissions...didn't help.

Where can

[2020-05-26 07:09] emilengler commented on #266
@Revbaw Do you have shell access to your web server?

[2020-05-26 07:13] bassport opened #274 "Error 'missing fields' for upload form"
**System Information**
Podcast Generator Version: 3.0.1
Webserver: 1and1
PHP Version: 7.3

**Podcast Generator Config**

[code]

[2020-05-26 07:13] emilengler commented on #272
Sure, please do (inside your PG dir)
[code]
Sorry for these many commands but they should adjust the permissions on a Debian/Ubuntu system

[2020-05-26 07:16] emilengler commented on #272
Oh! Also do
[code]

[2020-05-26 08:38] emilengler commented on #176
This can be solved by adding
[code]
at the end of core/include.php and core/include_admin.php.
Here is a list of all valid timezones: https://www.php.net/manual/en/timezones.php

[2020-05-26 08:38] #176 closed

[2020-05-26 10:17] emilengler commented on #266
@ThomasLeigh It's actually a feature, not a bug. Your XML file has no short description, nor is the explicit field set to yes or no. These two fields are required!

[2020-05-26 10:18] emilengler commented on #235
Fixed in e8355b64400987b2f07e031e233e9c87c0dcacec

[2020-05-26 10:18] #235 closed

[2020-05-26 10:25] emilengler commented on #230
Sorry for my late reply!
Thanks for the config files, they are really helpful!
What is the command you use to access pg-cron.php?

[2020-05-26 10:32] emilengler commented on #257
Sorry for my late reply.
Do you have the permissions setted up correctly? Do you have shell access?

[2020-05-26 19:02] Revbaw commented on #266
yes full access.

[2020-05-26 19:02] Revbaw commented on #266
which xml file are you referring to?

[2020-05-26 21:06] tomanageit commented on #230
Browser: http://192.168.xx.xx/pg/pg/pg-cron.php?key=MMMMUICH
cron job a: /usr/bin/wget -O- http://192.168.xx.xx//pg/pg/pg-cron.php?key=MMMMUICH >/dev/null 2>&1
cron job b: /usr/bin/wget http://192.168.50.30/pg/pgAudio/pg-cron.php?key=MMMMUICH -o /dev/null

Version 2.7 is fine, via browser and cron.
The same commands at a webhoster and on a local server with 3.1 doesn't work.

Thank you for your he

[2020-05-26 21:19] emilengler commented on #266
Which operating system?

[2020-05-26 21:20] emilengler commented on #230
Try to use `Kw9oDsxx` as your key

[2020-05-26 22:44] ThomasLeigh commented on #266
@emilengler

O my.... !!! Such a small thing and so much trouble. Thank You so so much, I’ve finally become able to start with my podcast hosted on my own server. I’m extremely happy that this is already possible.

The only remaining thing is “Change Podcast Generator Configuration” which I am not able to switch any of the three options from “Yes” to “No”. I mean, when I click “Submit”, it’s all b

[2020-05-27 00:22] hallvors opened #275 "Location: redirect must be before markup output"
On registering a new site I get this:

![Skjermdump fra 2020-05-27 02-20-39](https://user-images.githubusercontent.com/120136/82962515-b7897e80-9fc0-11ea-89b2-5448acd00f92.png)

The lines setting Location: header to redirect must be moved up to before line 38 where the markup starts:
https://github.com/PodcastGenerator/PodcastGenerator/blob/master/PodcastGenerator/setup/step3.php#L71-L75

[2020-05-27 01:21] hallvors opened #276 "Expose the file size upload limits of the PHP configuration"
On upload the form informs me that *Your server configuration allows you to upload files up to around 105 MB.*. On this plain vanilla install, php.ini does actually limit the size of a POST request to 8M, the 105 MB value seems to be an internal PCG setting.

Submitting something larger than PHP accepts will cause a truncated POST request, and a most confusing "Missing values" error without contex

[2020-05-27 08:08] emilengler commented on #276
Thanks, I already removed that "feature" in the following 3.1 built as it only causes problems

[2020-05-27 08:08] #276 closed

[2020-05-27 08:09] emilengler commented on #275
Sure, makes sense forgot that.
Thanks for the report!

[2020-05-27 08:12] #275 closed

[2020-05-27 08:22] emilengler commented on #266
@ThomasLeigh Are you sure the values are not changed? Try to have a look at the config.php if they were changed.

When I wrote the config changer page I forgot to load the settings but they should still work AFAIK

[2020-05-27 08:29] #266 closed

[2020-05-27 08:29] emilengler commented on #266
Fixed this now!
Shouldn't be there in Podcast Generator 3.1

[2020-05-27 08:31] emilengler commented on #187
Will close this because of inactivity. Let me know if you still have problems

[2020-05-27 08:31] #187 closed

[2020-05-27 08:32] emilengler commented on #245
Oh I get what you mean!
This is actually a feature.
You get taken to the homepage, that is true. However you'll see that every episode has a Edit / Delete button than. Click this and you'll be able to edit the episode details.

[2020-05-27 08:32] #245 closed

[2020-05-27 08:51] tomanageit commented on #230
Okay, sorry for the confusion.
I always use the $installationKey from the specific config.php The above example always has a disguised key.

[2020-05-27 12:08] jhrockers commented on #187
Unfortunately I had to go to an online service because my Sponsors were getting upset that the podcasts weren’t showing their ads and other things.

From: Emil Engler <notifications@github.com>
Sent: Wednesday, May 27, 2020 4:32 AM
To: PodcastGenerator/PodcastGenerator <PodcastGenerator@noreply.github.com>
Cc: jhrockers <richbennett@danben.com>; Mention <mention@noreply.github.com>
Subject: Re: [P

[2020-05-27 12:18] ThomasLeigh commented on #266
@emilengler

Yes, it seems that the only thing that is not changed is the switch within the settings page.

[2020-05-27 12:32] emilengler commented on #266
I know that the settings page doesn’t display it but I am very sure it is changed in the config. Otherwise it must be a permission error

[2020-05-27 12:35] ThomasLeigh commented on #266
@emilengler

And it’s like You said. I haven’t thought to check the results before, the switches have taken my attention ^^"

[2020-05-27 12:36] emilengler commented on #266
Glad to hear that it works :)

Your problem will be fixed on Sunday

[2020-05-27 13:23] emilengler commented on #230
Ok I will test it out later on

[2020-05-27 13:24] emilengler commented on #187
I'm very sorry to hear that :(
Hope we'll see you again in the future

[2020-05-27 14:56] jhrockers commented on #187
Once Podcast Generator can be installed and ran without having to do any code, like the last one, I’ll be back

From: Emil Engler <notifications@github.com>
Sent: Wednesday, May 27, 2020 9:25 AM
To: PodcastGenerator/PodcastGenerator <PodcastGenerator@noreply.github.com>
Cc: jhrockers <richbennett@danben.com>; Mention <mention@noreply.github.com>
Subject: Re: [PodcastGenerator/PodcastGenerator] Epi

[2020-05-28 10:46] emilengler commented on #274
Have you actually selected a category?

[2020-05-28 16:04] bassport commented on #274
Yes

[2020-05-28 18:20] emilengler commented on #274
Which are browser are you using? Maybe try a different one

[2020-05-29 05:05] denisveneno commented on #274
I'm having this same problem, I've tested it on firefox, chrome and on the edge, and they all have the same "missing fields" error

[2020-05-29 08:38] emilengler commented on #274
Could you give me the mp3 file you are trying to upload and a screenshot before the error occurred? it should be done quickly as I need to release 3.1 Sunday

[2020-05-29 13:19] MatteAce opened #277 "Apple Podcast Connect refuses XML: "There is no category tag in your feed, or the category tag is empty.""
**System Information**
Podcast Generator Version: 3.01
Webserver: Apache
PHP Version: 7.4

**Expected behavior**
Podcast Connect should accept the feed.xml file

**Actual behavior**
Podcast Connect opens the XML file correctly, shows the episodes, but a red message above tells this: "Can’t submit your feed. There is no category tag in your feed, or the category tag is empty."
The XML file has the

[2020-05-29 13:22] MatteAce commented on #277
Filling out the third, empty category in Podcast Generator -> Change Podcast Category and rebuilding the RSS feed fixed the issue.

[2020-05-29 15:10] emilengler commented on #277
So you no longer have a problem?

[2020-05-29 15:26] MatteAce commented on #277
I don't have that problem anymore, but I do think the backoffice is bugged since it allows to specify blank categories. I was on a fresh install.

[2020-05-29 17:44] emilengler commented on #277
Ok I will have a look at this tomorrow

[2020-05-29 17:44] #277 closed

[2020-05-29 18:02] denisveneno commented on #274
this is the mp3 file -> https://drive.google.com/file/d/1_dmqGd2poYz7vPaUHkq_huNgWA9rGcls/view?usp=sharing

and the Error image
![image](https://user-images.githubusercontent.com/7849321/83290604-3ea34600-a1bd-11ea-9a32-2c984c12be0b.png)

[2020-05-29 18:42] emilengler commented on #274
You don't have filled the title, nor short descripton nor a category

[2020-05-30 05:09] denisveneno commented on #274
Yes I did, but when I click on the upload button it returns to this page with the fields cleared and this "missing fields" error at the top

[2020-05-30 06:04] bassport commented on #274
Perhaps this user has absent fields but I did not. I have tried this over and over again. It seems to happen with some installations of Podgen, but not others. I am administering an entire (non commercial) podcast network with over a dozen functioning installations of podgen. If you would like to gain full access in order to troubleshoot these for yourself please email be on iain at bassport dot f

[2020-05-30 09:09] emilengler commented on #274
Also in your config, the $feed_iTunes_LINKS_Website is closed wrong. You have an illegal '"' character there

[2020-05-30 14:22] ugurarici commented on #274
In my case it's because of http timeout. I use cloudflare on website and it's http timeout limit is 100 seconds. After that it returns 524 timeout and reloads the page. So, request is sent with GET method with an empty $_POST. But on [line 13 of episodes_upload.php](https://github.com/PodcastGenerator/PodcastGenerator/blob/master/PodcastGenerator/admin/episodes_upload.php#L13) it checks if url has

[2020-05-30 21:17] emilengler commented on #274
Hello @ugurarici, thanks for your contributions. It is helpful and I will add it!

[2020-05-30 21:52] #274 closed

[2020-05-30 21:52] emilengler commented on #274
I made a commit to fix this and added you as a co author, hope it is ok :)

[2020-05-30 22:00] ugurarici commented on #274
Thank you, it's very kind of you :)

[2020-05-31 04:50] rnjailamba commented on #267
@emilengler can you please tell the commit id of this fix.

[2020-05-31 06:22] bassport commented on #274
Hi, would it be possible for you to clarify the line 212 edit with "from" and "to" example as with the other one please? Want to see if this will fix the issue before swamping Emil with this many installs of podgen lol

[2020-05-31 07:45] emilengler commented on #274
I'm not entirely sure what you mean but instead of checking for a specific value in the URL in determines if data was sent and starts then

[2020-05-31 07:48] emilengler commented on #267
@rnjailamba PG 3.1 will come out today or next week depending on how fast the translators are.
To your question: I'm not entirely sure but a search guided me to these 4 commits: 5b08776a46e94bc1dff35cdd0645afa0e7a959d8 80b8a73c2d5fca7b569334e32a5dbec60628bf4e a1770507ce7a0185a3d620f0431c524b468139e0 7cdb1f0d3e9241f0fef80739929efeb729acbcc0

[2020-05-31 07:50] #157 closed

[2020-05-31 07:51] emilengler commented on #29
Will work on this the next release or maybe even subrelease. Sorry but it is way too much work that I had expected

[2020-05-31 07:52] emilengler commented on #185
I can fully understand you!
However the problem is: What will happen to previous episodes? The biggest problem in PG is the backwards compatibility. Guess why we still don't use SQL databases. So how for example would we go with the season/episode system for previous episodes? Put all of them into season 1?

[2020-05-31 16:26] rnjailamba commented on #267
@emilengler Thanks!

[2020-05-31 23:37] rnjailamba commented on #267
I incorporated the changes in those commits and the podcast was submitted to iTunes for review successfully! @emilengler

[2020-06-01 07:18] emilengler commented on #267
@rnjailamba Happy podcasting!

[2020-06-02 20:31] ThomasLeigh commented on #266
@emilengler

I’ve successfully added and edited almost all the episodes, with one stubborn exception so far. Nothing has helped. Finally I edited Title, Short Description and Author by hand, but I don’t know where I could edit date and time? And, moreover, why this particular episode is so stubborn :) ? If You’d be interested to have a look - here You are the .xml and .mp3 files (those links are n

[2020-06-02 22:18] emilengler commented on #266
The date and time are is the file modification date, it is not set through the XML file

[2020-06-02 22:54] ThomasLeigh commented on #266
@emilengler Do You have any idea why I can’t edit a new date or time via the admin panel?

[2020-06-02 22:55] ThomasLeigh commented on #266
The both files of the stubborn episode have the same attributes as the files which are working fine.

[2020-06-02 22:56] emilengler commented on #266
I think it is a fault of your hosting provider. Doesn’t your provider offers an online ftp tool where you can modify timestamös? Try this one

[2020-06-03 13:57] ThomasLeigh commented on #266
But in case of all the rest episodes I’ve been able to change date and time via the admin panel, therefore my confusion... This particular episode has the same file name pattern as the rest. But as a result nothing couldn’t be changed within the admin panel - regarding only this one episode.

I’ve checked Your advice with timestamps, thank You for Your will to help.

[2020-06-03 14:40] emilengler commented on #266
I think it is very likely to be a permission error

[2020-06-03 14:40] emilengler commented on #266
Your XML and mp3 file look both very normal and legitimate to me

[2020-06-03 14:47] ThomasLeigh commented on #266
I checked the permissions within my ftp client: all the files within “media” folder have the same permissions: rw-r--r-- (0644). I’ll try to re-upload the file...

[2020-06-03 15:03] ThomasLeigh commented on #266
I’ve re-uploaded the file with a name “Molium 37 - 01.2017.mp3” - now it works.

[2020-06-03 21:11] flomeixneryt opened #278 "PHP Problem"
Hello, I have the following problem:

I have installed your software correctly on my server.

However, I get the following two messages on the main page

notice: Undefined index: explicit_podcast in /var/www/web92/htdocs/WEBVERZEICHNISSE/podcast/core/feed_generator.php on line 44

Notice: Undefined offset: 0 in /var/www/web92/htdocs/WEBVERZEICHNISSE/podcast/index.php on line 42

What can that be?

[2020-06-03 22:03] emilengler commented on #278
Which webserver do you use?
This is an error of your webserver configuration. You need to disable displaying warnings and notices from PHP

[2020-06-03 22:09] flomeixneryt commented on #278
Hello again

I think this should be an Apache server. But can not say exactly because it is only a web hosting offer and not a root server. therefore I do not know how I can turn off the messages. But I'll see if and where I can do it.

Thank you for your quick response.

[2020-06-04 07:07] emilengler commented on #278
I think you should contact your server admin in that case maybe ask the support

[2020-06-04 15:44] oregonaggie commented on #272
I am receiving the same "missing fields" error, however I am running on Windows IIS right now.  I have given network services (IIS) the permissions to the directories and files you mentioned above for www-data but still having issues.  Any ideas?

I am also getting numerous PHP warnings on the homepage:

Warning: simplexml_load_file(): I/O warning : failed to load external entity "C:Delex-PodcastD

[2020-06-05 07:46] moemueller opened #279 "Episode Image with itunes:image tag"
Hi, first of all I really love PodcastGenerator, at least the idea because I'm running in some issues. I have just found it last night and I am testing it today and I really need one feature to make it really worth for me.

It would be awesome if there is an option to upload or select an image for an episode cover with the itunes:image tag. If there is a workaround for this please let me know!

Go

[2020-06-05 08:04] emilengler commented on #279
Podcast Generator 3.1 which will be released on Sunday probably has such a feature

[2020-06-05 08:04] #279 closed

[2020-06-05 18:24] j-atoms commented on #272
I made it this far now but the above has me stuck. I do not have these on my install. I created a document of my install notes. Maybe if you have time you could have a look and maybe point me at my mistakes. [install notes](https://github.com/j-atoms/Podcast-Generator-Ubuntu-install-notes/blob/master/install-notes)
Thank you.

[2020-06-05 18:50] ryangurn commented on #278
Was there a specific action that you were performing to get that error? @flomeixneryt

[2020-06-05 18:53] ryangurn commented on #272
@j-atoms Those install notes look great, I might convert that to markdown so that its more easily read online. I think we could add install instructions, the development team just probably is busy working on other things, however Ill see if we can get something formalized.

If you want to assist in that process, it would be wonderful!

[2020-06-05 18:54] ryangurn commented on #270
@jasonsgroovemachine was there a specific page of the docs that you were looking at, I can try to see about updating that for the future!

[2020-06-05 19:16] j-atoms commented on #272
I will be happy to help anywhere possible.

[2020-06-05 19:34] jasonsgroovemachine commented on #270
I don't even remember. I didn't use the one you linked me to for the password, I don't like that it shows the inputs. I'm sure it's fine but I don't like it.

I couldn't get logged into 2.7 with any of the passwords so I can't upgrade to 3.0.1 so I'll just stick with 2.6 for now. I couldn't do the login for the upgrade to 2.7  and when I reverted back to 2.6 I couldn't login that way either withou

[2020-06-06 20:00] flomeixneryt commented on #278
@ryangurn No, I installed the software correctly and the error message came immediately after the installation

[2020-06-06 20:03] flomeixneryt commented on #278
@emilengler I do not quite understand what you mean but I only rented the webspace but have no complete access to the server.

I apologize in advance because I'm still a newcomer. :smile:

[2020-06-06 20:06] flomeixneryt commented on #278
I posted my page for you here so you can take a look:

[](https://livechat.flomeixner.de)

[2020-06-06 20:17] emilengler commented on #278
It's ok, everyone was a newcomer at some point ;)

In the case that you don't have access to the server I would suggest you to write a support ticket to your webspace hoster where you request that they should turn PHP warnings and errors off so they are not being shown on the page. Just curious, which hoster do you use? Maybe I can find some resources in their knowledge base if they have one

[2020-06-08 00:53] MatteAce opened #281 "How do I change the episode-specific artwork?"
I've upgraded to 3.1, in the release notes there's a mention to the upload of episode-specific artwork. I can't find anything in the Edit Episode menu. How do I add artwork for each episode? Thank you.

[2020-06-08 07:48] ryangurn commented on #278
I feel like a new programmer every day with all this new stuff now-a-days. It looks like you might be using internetwerk? @flomeixneryt

[2020-06-08 15:45] emilengler commented on #281
It is a bit tricky. You need to edit your mp3 file with a so called mp3 tag editor. With this one you can set an image directly into the mp3 file which PG will extract then.
You can find a youtube tutorial about this here: https://www.youtube.com/watch?v=aDlP9kYz5r0

[2020-06-08 15:45] #281 closed

[2020-06-08 22:53] R2D2C3POOU812 opened #283 "PG 3.1 Can't upload new episodes."
**System Information**
Podcast Generator Version: 3.1
Webserver: Litespeed 5.4.7 or Apache 2.4.43
PHP Version: 7.2.30

**Podcast Generator Config**

[code]
How and where do I find the original PG config file? Is it in the ...PodcastGenerator/admin?
I see a file there called **pg_config.php** Is this what I'm looking for?

*Edit* I believe I found the config file after comparing it to other user is

[2020-06-09 07:21] Go-rom commented on #147
Hello @emilengler

many thanks for this great 3.1 release.
About the french translation, i will handle it soon.

[2020-06-09 14:31] oregonaggie opened #284 "Feed.xml file not being created"
**System Information**
Podcast Generator Version: 3.1
Webserver: IIS
PHP Version: 7.4

**Podcast Generator Config**
<?php

$podcastgen_version = "3.0.1"; // Version

$first_installation = 1591215024;

$installationKey = "YzpFMZ94";

$scriptlang = "en_US";

$url = "http://localhost/";

$absoluteurl = "C:\Delex-Podcast\Delex-Podcast-Web\PodcastGenerator"; // The location on the server

$theme_path =

[2020-06-10 07:07] emilengler commented on #284
Can you try running Podcast Generator on a Unix(-like) system like Linux, *BSD or macOS?
I'm honestly not sure if PG will run a windows system :/
Maybe try it in a VM?

[2020-06-14 16:34] kazzttor opened #285 "Cover art in episode detected by FTP Auto Index"
**System Information**
Podcast Generator Version: 3.1
Webserver: Apache 2.4
PHP Version: 7.2

**Podcast Generator Config**

[code]

**Description of your problem:**

How can I insert a Art Cover to an existing Episode detected by auto index feature?

[2020-06-14 22:13] emilengler commented on #285
Hello @kazzttor.
You need to edit your mp3 file with a tool to set cover arts.
[Here](https://www.youtube.com/watch?v=aDlP9kYz5r0) is a tutorial on how to do that on Windows. Alternatively just google "mp3 edit cover art YOUR OPERATING SYSTEM".
Keep in mind that the covert art should be quadratic

[2020-06-14 22:13] #285 closed

[2020-06-16 16:28] MatteAce commented on #281
ok so, I uploaded a new episode with the image in the mp3 tag and everything worked out fine. Now I want to also reupload the old episodes, I tried replacing the files using the same filename and manually reindexing but podcast generator won't find them, and the episode-specific xml file contains no data about the image. I've seen though that PG extracts the episode image in the images folder, sho

[2020-06-17 17:06] emilengler commented on #281
@MatteAce
You have two ways:
Deleting the old episodes and reuploading them with the normal episodes upload feature
Delete all XML files of the old episodes and then re-index. Keep in mind that this will delete all titles, descriptions, etc.

Be sure to make a backup before

[2020-06-17 17:54] ryangurn commented on #283
It is possible that the webserver is setup with both litespeed and apache! This _**could**_ be causing the issues with uploading. To confirm my understanding it appears that the installation goes through successfully for PG3.1 however when you are attempting to upload the episodes it will get to 100% and then not succeed, is that correct?

**Question:** Can you confirm if the deployment of the ser

[2020-06-17 17:55] podcasters opened #286 "My uploaded episodes don't show up on my podcast page. It says it loads 100%, but then nothing appears."
**System Information**
Podcast Generator Version:
Webserver:
PHP Version:

**Podcast Generator Config**

[code]

**Description of your problem:**

[2020-06-17 17:56] ryangurn commented on #278
@flomeixneryt has there been any change to this?

[2020-06-17 19:23] MatteAce commented on #281
I’ve deleted one xml file, the episode disappeared. I’ve reindexed with the FTP Feature and now it can’t find the mp3 anymore.
On 17 Jun 2020, 19:06 +0200, Emil Engler <notifications@github.com>, wrote:

[2020-06-17 22:40] R2D2C3POOU812 commented on #283
Hey Ryan,

Thanks for getting back to me.

I spoke with tech support at my host and he confirmed that I am in fact using Litespeed and Apache simultaneously.  As they described on the Litespeed website from the link you provided this is possible and Apache _is_ running underneath.

I don't suppose I can ask them to change this as it probably is how they have all their servers set up.

Sidenote: Tr

[2020-06-18 10:02] emilengler commented on #281
This sounds strange, can you try to reupload the file instead?

[2020-06-18 15:49] ryangurn commented on #283
Ok good to know, I will look into the codebase and see if I can identify anything.

Recap of issues:
1. Admin password not functional when using softaculous
2. File not uploaded successfully error message each time

By chance did you attempt to use the FTP method of adding in MP3’s, did that function properly?

[2020-06-18 15:51] ryangurn commented on #283
@R2D2C3POOU812 Additionally, can you talk a look at issue #270 since it appears that it might help answer some questions about the password mismatch.

[2020-06-18 15:56] ryangurn commented on #286
Please review #283 as it appears to be the previous issue thread that describes this issue.

[2020-06-18 16:54] dskeen opened #287 "scheduling an episode makes it completely disappear"
**System Information**
Podcast Generator Version: 3.1
Webserver:
PHP Version:

**Podcast Generator Config**

[code]

It used to be that when you would schedule an episode for a future release date, it would stay visible on the admin side but disappear on the public side until the scheduled date and time

now when i schedule a podcast for a future date and time, it disappears completely from everyw

[2020-06-18 17:35] emilengler commented on #286
Yes turns out this bug is more frequent.
By the way, thank you @ryangurn for your involvement in the project recently!

[2020-06-18 17:45] emilengler commented on #287
It will!
This is feature not a bug. If someone ones to work on a features which displays episodes in future in the admin area I would accept such a PR

[2020-06-18 22:18] R2D2C3POOU812 commented on #283
Aha! I found out what the issue was. It was none of the above unfortunately and I only thought of it because after getting if the phone with a tech support rep at my hosting co. I realized something.

When I first installed Wordpress on my server way back I was having trouble uploading files larger than 64mb and after much searching found out that I needed to change the upload limit size in the th

[2020-06-19 07:29] emilengler commented on #283
Good to know, the web server is in 90% of the cases the troublemaker

Yes, but this is intended to be that way because iTunes only supports JPEG files (maybe it was changed nowadays)

Yes

[2020-06-19 07:29] #283 closed

[2020-06-19 07:29] emilengler commented on #283
Happy Podcasting!

[2020-06-19 10:59] MatteAce commented on #281
I’ve fixed the issue by renaming the files to something different.

So the whole procedure was:

1) download the old file without album art
2) insert the artwork in the ID tag
3) upload and overwrite the new file
4) delete the episode’s xml file
5) slightly change the mp3 file name
6) start the FTP auto indexing
On 18 Jun 2020, 12:03 +0200, Emil Engler <notifications@github.com>, wrote:

[2020-06-19 23:56] R2D2C3POOU812 opened #288 "Possible to add 4th Menu item for end user podcast page?"
**System Information**
Podcast Generator Version: 3.1
Webserver: Litespeed 5.4.7
PHP Version: 7.2.30

**Podcast Generator Config**

[code]

**Description of your problem:**

If I wanted to add an item to the menu in the end-user podcast page, would there be a fairly simple way to add it?

So currently there's "Home, Categories, and Admin"

Could I add a 4th menu item?

I'm guessing there is a ul t

[2020-06-20 03:08] R2D2C3POOU812 commented on #288
Update: If it's easy to add the menu item, all I want to add to it is a link that takes me to my primary domain homepage (or any other page on my domain if I decide to change it.)

[2020-06-20 08:55] emilengler commented on #281
Ok, if it works then it's great :)

[2020-06-20 08:56] emilengler commented on #288
Currently there is no such way except if you would "code" it for yourself in.
You only very basic HTML skills. If so, you can edit themes/default/navbar.php

[2020-06-20 12:38] MatteAce commented on #281
I’ve written the whole procedure so if somebody got the same issue as me, while you fix it, can still find an easy solution without waiting for an answer.
On 20 Jun 2020, 10:55 +0200, Emil Engler <notifications@github.com>, wrote:

[2020-06-20 17:06] R2D2C3POOU812 commented on #288
Ok, I think I managed to do it, with your description of the file location.

I added this line of code to the navbar.php file just below the admin li tag :
[code]

I know this is a kindergarten HTML, but as I said before I'm super new to this world of coding. Previously I was a music teacher.

Everything seems functional including the link when I checked it on mobile and desktop. So I'm guessing t

[2020-06-21 03:53] ryangurn commented on #286
@emilengler... im here to help, I like writing code and I get bored sometimes... please let me know if you need anything.

@podcasters can you check the upload limit set by the server... that was the issue last time for someone else... refer to #283 to get more information...

[2020-06-21 04:24] ryangurn commented on #288
I think that would work! @R2D2C3POOU812, HTML is my least favorite thing in the world so the comparison to kindergarten seems to be fitting since its mainly babysitting. lol

[2020-06-21 04:25] ryangurn commented on #287
@dskeen so the podcasts scheduled for the future do not show in the admin area?

[2020-06-21 04:30] dskeen commented on #287
That’s correct. Once you schedule it, it cannot be seen anywhere. So you have no way of making sure you selected the right date and time.

Sent from my iPhone

On Jun 21, 2020, at 12:26 AM, Ryan Gurnick <notifications@github.com> wrote:

﻿

@dskeen<https://github.com/dskeen> so the podcasts scheduled for the future do not show in the admin area?

—
You are receiving this because you were mentioned

[2020-06-21 09:01] emilengler commented on #287
You can! The time is being fetched from the last modified time by the operating system. You can go to the media/ directory to see it.

[2020-06-21 09:02] emilengler commented on #288
Nope thats it, but you'll need to adjust it every time you update Podcast Generator unfortunately.

[2020-06-21 09:02] #288 closed

[2020-06-21 11:53] kalvinmattheus commented on #287
#290 will solve this bug.

[2020-06-22 21:02] R2D2C3POOU812 commented on #288
Thanks boys. You rock!

[2020-06-23 18:55] hobish-nep opened #292 "STATISTICS, COMMENTS & LIVE STREAMING"
Hi guys, thank you for the current edition of PG, i hereby request for
1. the ability to see the statistics of each episodes, total view, total download.

2. Also, can you allow (registered users)  to be able to comment on each episode
3. Ability for the admin to Live stream Audio
Thank you!

**Motivation**

**Legal aspect**

* [ x] I am the inventor of this idea or the idea is public domain
* [ x

[2020-06-25 07:07] bclouthier opened #293 "Help Wanted: Long Descriptions Do Not Support Formatting"
Help Wanted
**System Information**
Podcast Generator Version: 3.1
PHP Version: 7.3.6

**Description of your problem:**
I have been working on a theme based on the 3.1 default theme. The feed is working correctly. I have changed by theme's singleepisode.css file to show the episode long description rather than the short description. The long description appears as a block of unformatted text. Using

[2020-06-27 10:32] joerg-nafcom opened #294 "Update to 3.1 breaks the RSS feed"
When I upgrade from last version to 3.1 I get this error:

The URL does not appear to reference a valid XML file. We encountered the following problem: Error on line 33: The entity name must immediately follow the '&' in the entity reference.

I tried it with the <![CDATA data tags removed and without in the episode xm files, didn't make a difference. (see https://github.com/PodcastGenerator/Podca

[2020-06-27 11:52] emilengler commented on #294
Can you give me the broken rss feed and the related XML episode files?

[2020-06-27 14:37] joerg-nafcom commented on #294
sure, if you let me know how to download the xml feed I will do that. I tried with a couple of browsers but they only would give me the option to display the rss feed but not save it as a file.

Once I know what line 33 is I can give you the xml files accordingly.

[2020-06-27 17:48] SecureCodeJIT opened #295 "QNAP"
**System Information**
Podcast Generator Version:
Webserver:
PHP Version:

**Podcast Generator Config**
Operating System: Linux

PHP Version: 7.3.7

display_errors =

upload_max_filesize (php.ini) = 2047M
post_max_size (php.ini) = 2047M
memory_limit (php.ini) = 128M

Max upload size set in the script (config.php): 100M

Your server configuration allows you to upload files up to 100MB

**Expected b

[2020-06-27 17:49] joerg-nafcom commented on #294
attached the feed.xml podcastgen 3.1 created in comparasion the one that causes the error
[feed.zip](https://github.com/PodcastGenerator/PodcastGenerator/files/4841019/feed.zip)

[2020-06-27 18:01] joerg-nafcom opened #296 "Auto-Indexing new episodes broken in 3.0.1 and 3.1"
found out that the Auto index feature broken in 3.0: I tried uploading an episode via ftp and normally I would click "auto index" and it would automatically find it and generate the fitting xml file along with it. However it said "found!" in green letters. then went at "edit episode" page but there was no new entry there.

Then I delted the /media/index.html and 2020-06-27 file as they appear to h

[2020-06-27 18:05] joerg-nafcom opened #297 "manually uploading MP3 files not possible in 3.0.1. and 3.1"
As auto-indexing stopped working for me (see #296), I tried with manually adding the episode via upload within the admin panel  as the file size is below 105 MB  but I do get then

ERROR 500 - Internal Server Error!
The following error occurred:
The requested URL caused an internal server error.

If you get this message repeatedly please contact the webmaster.

As the file is too big for github, I

[2020-06-27 20:07] emilengler commented on #294
Turns out it was because of malformatted XML files.
Solved within a private mail conversation.

[2020-06-27 20:07] #294 closed

[2020-06-27 20:08] emilengler commented on #295
Sorry your report is a bit unclear, can you specify more?

[2020-06-27 20:14] emilengler commented on #297
A 500 error is a thing of your web server not from our side.
Can you post your error log and the name of your web server?

[2020-06-27 20:15] emilengler commented on #296
I tried it with your file on version 3.1 and it worked without any problems.
For the record: I use nginx on Debian 10 with PHP 7.3 and without any big modifications except a huge upload limit

[2020-06-27 20:19] joerg-nafcom commented on #297
log file from the web server I suppose or does podcastgenerator has its own logfile? if not,  then I gotta ask our webhoster for that first.

[2020-06-27 20:25] joerg-nafcom commented on #296
so what to do now? I am on 3.1 now and whatever I do it's stuck with "FTP Auto Indexing
No new episodes were found"

[2020-06-28 09:09] emilengler commented on #297
No we don't usually every webserver has it's own

[2020-06-28 16:49] joshmule commented on #237
I'm getting the exact same issue with version 3.1:
`Fatal error: Uncaught Error: Call to undefined function bindtextdomain() in /path/PodcastGenerator/core/translation.php:14 Stack trace: #0 /path/PodcastGenerator/core/include.php(30): include() #1 /path/PodcastGenerator/index.php(11): require('/home/cedaccom/...') #2 {main} thrown in /path/PodcastGenerator/core/translation.php on line 14`

[2020-06-29 08:09] emilengler commented on #237
Nope, I had problems founding the correct one and didn't wanted to fall for a malicious

[2020-07-01 07:06] Saniaomsk opened #298 "Posting a Podcast on Qnap NAS"
I apologize in advance. I am a nonsense novice. I recorded audio files. Saved them in .mp3 at NAS.
I want to understand whether my files can be stored on my NAS to be accessible to any listener?
Will the podcast aggregator to which I tell rss (http://192.168.10.103/podcastgen/feed.xml) grant anyone access? http://192.168.10.103 is a local address and it is available only in my home network.
How ca

[2020-07-02 09:21] emilengler commented on #287
Fixed with #290

[2020-07-02 09:21] #287 closed

[2020-07-06 13:30] mishcazzulani opened #299 "page navigation not working"
hello,
it seems page navigation is not working in the last version.
i have a podcast with hundreds interviews (podcastgen.radioveg.it) but pg 3.1 only shows the first page
at the bottom of the page i only have the number "1"
if i force the url with for example ?page=2 nothing appears

[2020-07-06 20:08] emilengler commented on #299
Can you post your config.php?

[2020-07-07 08:56] mishcazzulani commented on #299
oh thank you so much! you pointed me in the right direction, i had a limit of 10 episodes in the config.php now everything works like a charm.

[2020-07-07 08:56] #299 closed

[2020-07-08 16:53] mishcazzulani opened #300 "uppercase and lowercase filename"
hello
in the previous version i was using (2.7) despite the filename being written in uppercase or lowercase, when uploaded it was converted to lowercase, keeping the media library nice and tidy.
in 3.1 this has not been implemented, and if i upload a .MP3 file instead of .mp3 it gives a wrong extension error.
i suggest to re-implement the case conversion option!

[2020-07-09 14:00] joerg-nafcom commented on #296
I got the following info from our webhost today:
"On the server side there's CentOS 7, with Apache 2, PHP 7.3, standard upload limit on PHP.ini"

I am still waiting for the log file

[2020-07-09 14:10] joerg-nafcom commented on #297
I got the following info from the webhoster today:

"Please, let them tell you which is the limit and the parameter name they are using on php.ini (should be max_upload_size)
 and the value of course "

I am still waiting for the log file

[2020-07-09 14:46] emilengler commented on #297
The max_upload_size setting got removed in 3.1 btw

[2020-07-09 14:47] emilengler commented on #296
Hmm. Autoindexing should not effect the upload limit. I am actually really curious. I will have a look at this later on

[2020-07-09 15:40] joerg-nafcom commented on #296
I was also told, there was no valuable info or error / warnings in any of the server logs regarding the indexing.

All I get is this:

![image](https://user-images.githubusercontent.com/16625923/87060792-38b47200-c20b-11ea-8832-ca87b507e351.png)

The webserver admin had a look while I was triggering the auto-index functionality in the admin panel

[2020-07-09 15:44] joerg-nafcom commented on #297
They said they checked the general php.ini settings and find no cause there,
There is also not anything in any server logs that would indicate why it throws an internal server error.
They had a look at the webserver logs while I was uploading the MP3 file via the GUI.

![image](https://user-images.githubusercontent.com/16625923/87061252-d019c500-c20b-11ea-92b1-a1da97dd8b8a.png)

[2020-07-11 09:22] joerg-nafcom commented on #296
Update: Our webhost did update to PHP 7.4 yesterday. still not working and still nothing written in any logs.

[2020-07-11 09:22] joerg-nafcom commented on #297
Update: Our webhost did update to PHP 7.4 yesterday. still not working and still nothing written in any logs.

[2020-07-11 12:33] rodarkcompass opened #301 "Adding Episodes for Future play"
I have created a ne podcast feed and I've added three episodes with future dates.
The XML is created beside the files, no problem there, but I'm not seeing them in the episodes list.
Am I doing anything wrong here?

[2020-07-11 14:52] emilengler commented on #301
They will appear once the date was reached

[2020-07-11 15:31] rodarkcompass commented on #301
Thanks, and If I need to edit them beforehand, is that a manual change in the xml?

[2020-07-11 16:31] emilengler commented on #301
Yes

[2020-07-12 09:47] rodarkcompass commented on #301
Thanks, appreciate it.

[2020-07-12 09:55] joerg-nafcom commented on #297
Update 2: Good and bad news.

Bad news: The upload still doesn't work.  internal server error anymore but the file is not uploaded anywhere it simply stops and no upload is done or a new entry is created.

Good news: The webhoster found why it threw an internal server error. "found a problem with an Apache variable (namely FcgiMaxRequestLen)."

However the main problem remains, the upload is not p

[2020-07-12 10:41] joerg-nafcom commented on #296
Good news: With the work of our webhoster I have got it working but this is still because of major issues with the Podcast Generator.

Our webhoster had to change:

1) Apache variable (namely FcgiMaxRequestLen)
2) for bug #297: " there's another variable in PHP post_max_size that fails when you upload via the form"

This resulted into error message "Invalid filename, only A-Z, a-z, underscores and

[2020-07-12 10:45] joerg-nafcom commented on #297
Good news: With the work of our webhoster I have got it working but this is still because of major issues with the Podcast Generator.

Our webhoster had to change:

1) Apache variable (namely FcgiMaxRequestLen)

2) "variable in PHP post_max_size that fails when you upload via the form"
This resulted into error message "Invalid filename, only A-Z, a-z, underscores and dots are permitted"

So, 1) an

[2020-07-12 11:35] joerg-nafcom commented on #292
I second those ideas, especially 1) and 2) would also be useful to us!

[2020-07-12 11:45] joerg-nafcom opened #302 "wrong re-direction after submitting an edit on a podcast episode"
**System Information**
Podcast Generator Version: 3.1
Webserver: Apache
PHP Version: 7.3

Found out, when I save an edited  episode, it redirect the homepage to an invalid URL e.g. https://sceneworld.org/history/index.php$url."?name=2020-07-12-Holger.mp3

Rather than https://sceneworld.org/history/ where it came from

[2020-07-12 17:07] emilengler commented on #302
What is your $link value in your config.php

[2020-07-12 17:07] #301 closed

[2020-07-12 17:08] emilengler commented on #297
Ok, I will work on this!

[2020-07-12 17:32] joerg-nafcom commented on #302
`$link = "$url."?name="; // permalink URL of single episode (appears in the <link> and <guid> tags in the feed)`

[2020-07-12 18:33] dskeen commented on #296
i ran into this exact same problem.  i have always named my files (for example) 7-12-20.mp3.   PG no longer will detect those on an FTP auto index.  after reading this thread, i changed the file name to 7_12_20.mp3 and it found the file.  a bit annoying that it will find underscore, but not dash.

[2020-07-13 08:40] emilengler commented on #302
Change it to
[code]

[2020-07-13 09:10] mishcazzulani opened #303 "feature request: search box"
hello
it would be really useful to have a search function, both in the user interface and in the admin one.

[2020-07-13 09:44] joerg-nafcom commented on #302
that fixed it ,thanks!

[2020-07-13 09:45] joerg-nafcom commented on #297
great! Don't forget to add #296 to the milestone too, please

[2020-07-13 09:48] joerg-nafcom opened #304 "quotation sign defaces after edit of an entry."
**System Information**
Podcast Generator Version: 3.1
Webserver: Apache
PHP Version:7.3

When this:

![image](https://user-images.githubusercontent.com/16625923/87290708-9fcd7180-c4fe-11ea-807c-e1afdcf7cd75.png)

Is edited in Admin mode and I am simply hitting "Save" without changing anything, it defaces to this:

![image](https://user-images.githubusercontent.com/16625923/87290773-b4aa0500-c4fe-1

[2020-07-13 21:20] emilengler commented on #303
This was added recently and will be available in the next release :)

[2020-07-13 21:20] #303 closed

[2020-07-15 10:07] hundredproofsam opened #305 "Podcast Generator inaccessible after upgrade"
**System Information**
Podcast Generator Version:
Webserver:
PHP Version:

**Podcast Generator Config**

[code]

**Description of your problem:**Hello, sorry I have no coding or sever knowledge, but I tried uploading the new version of PodcastGen by following the upgrade instructions, but Podcastgen is inacessible ever since I replaced the files with the new ones via FTP. I can still access my RSS

[2020-07-16 13:40] anthonysciutto opened #306 "PHP: Install Issue, hung on step 1"
Podcast Generator Version: 3.1
Webserver: Apache2.4
PHP Version: 7.4
FreeNAS 11.4 jail (FreeBSD)

Got **apache24**, **php74**, **php74-gettext**, and **php74-xml** all installed. I believe it is configured properly as I can access the setup/index.php page but pressing "Begin installation" gives me an HTML 500 error.

**Apache httpd-error.log is as follows:**
[Thu Jul 16 09:21:45.606960 2020] [php7

[2020-07-16 15:35] anthonysciutto commented on #306
I got it!

I didn't realize that session_start() was a generic php function.

`pkg install php74-session`

followed by a restart of apache and php got me one step further. The next error was related to the simplexml_load_file() function

`pkg install php74-simplexml`

followed by a restart of apache and php got me to permissions where I realized I did not have the proper owner.

`chown www:www`

o

[2020-07-16 15:35] #306 closed

[2020-07-16 15:40] emilengler commented on #305
You have no error log?

[2020-07-17 11:15] hundredproofsam commented on #305
Unfotrunately, no. I adjusted some file permissions and now I'm getting the admin login screen, but it doesn't recognise my username and password. When I went into the rest password page, it doesn't show my username in the dropdown menu (even though I do see it in the config.php file). And since I can't reset my password, I can't log in.
![pgp](https://user-images.githubusercontent.com/68327866/87

[2020-07-17 14:42] emilengler commented on #305
Can you send me your config per e-mail?

[2020-07-21 16:39] mdifilm opened #307 "vimeo integration"
**Description** I was wondering if there is a way I can connect my vimeo account info so I don't have to host the media files on my own server?

**Motivation**

**Legal aspect**

* [ ] I am the inventor of this idea or the idea is public domain
* [ ] I release this idea into the public domain

[2020-07-22 00:10] tyler71 opened #308 "Link to podcast file"
**Description**
Is it possible to just link to a podcast file instead of uploading it?
I would like to host them on a CDN

**Legal aspect**

* [x] I am the inventor of this idea or the idea is public domain
* [x] I release this idea into the public domain

[2020-07-22 08:55] emilengler commented on #307
There is a feature to use an external resource as a media file in podcast generator. However you NEED the DIRECT link to the mp4 video. Vimeo hides this AFAIK

[2020-07-22 08:57] emilengler commented on #308
Yes, since 3.1 we have such a feature.
However you first need to upload the episode. If you want to use the feature, do the following steps:
1. Upload the full episode normally
2. Go to the associated XML file in the media directory
3. Edit the linkPG value to a link to your CDN
4. Save the file
5. Delete the media file (mp3 or whatever) from your server
6. Click manually regenerate RSS feed
7. Ha

[2020-07-22 08:57] #308 closed

[2020-07-22 12:22] mdifilm commented on #307
Thanks I actually have the direct link url from vimeo that I can grab,... so just add that link when adding a new podcast?

[2020-07-22 15:00] emilengler commented on #307
I explained this in #308.
You need to upload the episode first but you can delete it thereafter

[2020-07-22 15:00] #307 closed

[2020-07-22 15:01] mdifilm commented on #307
Thank you!

[2020-07-27 15:46] dskeen opened #309 "Keep losing my podcast cover art everytime i upload a new episode"
**System Information**
Podcast Generator Version:
Webserver:
PHP Version:

**Podcast Generator Config**

[code]

**Description of your problem:**
guessing im doing something wrong, but im not sure what. i have the same cover art embedded in my mp3 files that matches the cover art for the entire podcast.  everytime i upload a new episode,  i end up with 2 episodes. one is just the album art only, t

[2020-07-27 17:54] Marco-Lugo opened #310 "Fix for a warning after the upload of an episode."
After the upload of an episode I have this warning:
Warning: sizeof(): Parameter must be an array or an object that implements Countable in /home/mhd-01/www.****.org/htdocs/podcast/admin/episodes_upload.php on line 35

The problem is here in "episodes_upload.php":
    // If no categories were selected, add the 'uncategorized'
    // category.  Otherwise, ensure that no more than three categories

[2020-07-27 22:54] Saladoc opened #311 "Support webMaster and managingEditor tags"
**Description**
The [RSS Specification](https://www.rssboard.org/rss-specification#optionalChannelElements) allows for two contacts to be specified, one for the person responsible for the content, one for the technical infrastructure. These contacts are not configurable and therefore not included in generated rss feeds.

**Motivation**
Many podcasts are collaborations and so responsibilities might

[2020-07-29 15:34] examplelewis opened #312 "Fatal error: Uncaught Error: Call to undefined function bindtextdomain()"
**System Information**
Podcast Generator Version: 3.1
Webserver: Apache/2.4.43
PHP Version: PHP 7.2.32;

I use my PC to install PG, and PC Installed Windows 7

my phpinfo()
[phpinfo().zip](https://github.com/PodcastGenerator/PodcastGenerator/files/4995760/phpinfo.zip)

**Podcast Generator Config**
[code]

**Description of your problem**
Fatal error: Uncaught Error: Call to undefined function bindt

[2020-07-30 10:02] Marco-Lugo commented on #310
I have opened a pull request about this fix.

[2020-07-30 19:53] coldacid opened #315 "Per-episode cover art"
**Description**

Support the ability to upload and use different cover art images for individual episodes, defaulting to the podcast cover art whenever a custom image is not provided for an episode.

**Motivation**

A number of podcasts already use a different cover art image for each episode, such as [No Agenda](https://www.noagendashow.net/) and [Hog Story](http://www.hogstory.net/). I want to b

[2020-08-02 13:23] emilengler commented on #309
What do you mean with two different episodes, two mp3 files where only one has the cover art?

[2020-08-02 13:27] emilengler commented on #315
This is already possible :-)
Just add a covert art to the mp3 file. There are numerous guides online which show you how.

[2020-08-02 13:27] #315 closed

[2020-08-02 13:27] emilengler commented on #310
Fixed by your PR

[2020-08-02 13:27] #310 closed

[2020-08-02 13:29] emilengler commented on #312
You need PHP gettext to get it working.
However keep in mind that the use of Windows is not tested

[2020-08-02 13:45] dskeen commented on #309
One is the mp3 file. The other is only album art. Nothing else.

Sent from my iPhone

On Aug 2, 2020, at 9:23 AM, Emil Engler <notifications@github.com> wrote:

﻿

What do you mean with two different episodes, two mp3 files where only one has the cover art?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/PodcastGenerator

[2020-08-02 15:31] coldacid commented on #315
@emilengler: So then PodcastGenerator will also extract the embedded image from the mp3 for use on the site?

[2020-08-02 15:32] emilengler commented on #315
Yes

[2020-08-02 15:39] coldacid commented on #315
Thanks.

[2020-08-02 16:14] emilengler commented on #309
Both in the media/ directory?

[2020-08-03 14:25] dskeen commented on #309
Yes. It’s creating a “file name”-itunes_image.jpg and .xml for every mp3 file i upload

Sent from my iPhone

On Aug 2, 2020, at 12:14 PM, Emil Engler <notifications@github.com> wrote:

﻿

Both in the media/ directory?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/PodcastGenerator/PodcastGenerator/issues/309#issuecommen

[2020-08-03 15:33] emilengler commented on #309
What is your config.php?

[2020-08-05 23:33] jdiercks opened #316 "size/duration/freq not displaying after re-install"
**System Information**
Podcast Generator Version: 3.1
Webserver: apache
PHP Version: 7.3.20

Previous install of PGv1.4 was working as expected.

Created a new test folder and did a clean fresh install of PGv3.1.

Copied media folder into test folder, manually regenerated RSS.
Also tried running FTP auto-index. It claimed to find only 4 "new" files, but there are hundreds.

On website, all episode

[2020-08-05 23:52] jdiercks commented on #316
If I upload a new mp3 via the web admin interface, it indexes correctly and size/duration/freq appear in the listing. Just need to figure out how to re-index all the old stuff. Can the index data from the v1.4 instance be transferred over? If so, how?

[2020-08-06 07:59] emilengler commented on #316
Can you send the XML file of such an episode?

[2020-08-06 13:20] jdiercks commented on #316
here's the 1.4 version, with size etc. intact...
[code]

... and here's the 3.1 regenerated version. The most notable difference is the empty "duration" tag.
[code]

[2020-08-06 16:10] emilengler commented on #316
Oh I don't mean the feed. I mean the files in your media/ directory

[2020-08-06 16:21] jdiercks commented on #316
ah. here:

[code]

[2020-08-06 16:24] jdiercks commented on #316
I found the XML files for the only 4 mp3s that were found by the FTP indexer...

[code]

[2020-08-06 16:25] jdiercks commented on #316
if I delete all those media/*.xml files and re-run the FTP indexer, should that work?

[2020-08-06 17:00] jdiercks commented on #316
Went ahead and tried that (deleting xml files & re-indexing). Appears to have worked. Thanks!

[2020-08-06 17:02] jdiercks commented on #316
... except i it didn't preserve the human-readable titles... Luckily I still have the original XMLs.

Is there some easy way to merge them?

[2020-08-09 09:54] emilengler commented on #316
Unfortunately no. Can you tell me what title names you get? Many users before you experienced similar issues

[2020-08-09 22:37] jdiercks commented on #316
Sorry, not sure what else you're asking for... there's already an example title name result in the XML above.

[2020-08-10 07:21] emilengler commented on #316
Oh I see it, sorry my fault

[2020-08-16 11:37] jokoblitar opened #318 "Field Missing"
When save editing podcast ,  error, Field Missing

**System Information**
Podcast Generator Version:
Webserver:  www.gretha.my.id
PHP Version: 7.1

**Podcast Generator Config**

[code]

**Expected behavior**

**Actual behavior**

**How to reproduce**

[2020-08-16 17:52] githubpscl commented on #230
Is the pg-cron.php still supported in 3.x?

[2020-08-16 18:05] Saladoc opened #319 "Setting the Language"
In the [documentation](https://podcastgenerator.net/documentation/FAQ-localization) it is stated that all available languages are shown automatically on the configuration page. This is not the case. Following the installation instructions with version 3.1, I am unable to switch the language to de_DE.

A quick glance at the admin/pg_config.php source code shows no indication.

How does one change t

[2020-08-17 11:47] emilengler commented on #319
Edit your config.php file and change the scriptlang variable to de_DE

[2020-08-17 11:47] emilengler commented on #230
Yes

[2020-08-17 23:35] jdiercks commented on #316
I hacked together a quick-n-dirty one-off fix. Here it is in case anyone else finds it useful. USE AT YOUR OWN RISK -- I have no idea if this will work for you if your scenario is even slightly different from mine. :-)
* dir1 folder contains media xml copied from old version, with human-readable titles
* dir2 folder contains xml from FTP scan of new instance, with updated size/duration/freq tags
*

[2020-08-17 23:35] #316 closed

[2020-08-18 00:14] senarvi commented on #318
I tried editing an episode with the latest 3.1 version. I filled the fields and clicked Save Changes. I got the red error message "Missing fields".

I was going to debug this problem, but now I can't repeat it. Instead, every time I try to save the changes, I get 404 Not Found error from the web server. The URL looks strange: `index.php$url."?name=` and then the episode file name.

[2020-08-18 00:33] senarvi commented on #309
After upgrading to version 3.1, I have the same problem. The cover art .jpg file is now copied to the media directory. They used to be in images. The old cover art images are not found, unless I move them to the media directory too. If they are in the media directory, they appear correctly in the episode, but for each episode there appears also an additional "episode" that displays the cover art a

[2020-08-18 00:40] senarvi commented on #309
In my config I had $upload_dir and $img_dir both set to "media/". I moved the .jpg images to images directory and changed $img_dir to "images/" and now the episodes are displayed correctly. I'm not sure whether $upload_dir should be changed too.

[2020-08-18 13:20] jokoblitar commented on #318
I re-download today, install a new application. There is already a Search column.
I filled all fields completely, successfully edited and uploaded the new mp3.

[2020-08-18 13:20] #318 closed

[2020-08-19 16:11] tomanageit commented on #230
I have still no solution in version 3.1. It works with version 2.7, but on the same server (local environment and hoster) it won't work with cron URL in a 3.1 installation. I tried different php settings and webservers (nginx and apache) without success. Still hope for

[2020-08-19 22:50] Saladoc commented on #319
Did that. No change sadly.

Also in the Podcast Details menu the language can be changed but the change will always be discarded and switched back to english. Idk if those issues are related.

[2020-08-20 06:47] emilengler commented on #319
Try adding `.UTF_8` to the setting

[2020-08-20 06:47] emilengler commented on #319
For de_DE.UTF_8 for example

[2020-08-20 09:32] Saladoc commented on #319
Thanks, that did it.

[2020-08-20 09:32] #319 closed

[2020-08-20 14:25] tomanageit commented on #230
I didn't want to close the issue

[2020-08-20 21:55] senarvi commented on #318
I compared my configuration to `setup/createconf.php` and found out what caused the 404 error. `$link` variable in `config.php` has to be changed from `"$url."?name="` to `"?name="` after upgrade.

[2020-08-25 08:21] emilengler commented on #147
thanks

[2020-08-25 13:31] gfreccia opened #320 "Automatic FTP to categories"
Hi All,

I'm very interested on PG.

I've to implement automatic upload using FTP.
Is there a way to use FTP for uploading, so the uploaded file is automatically added to a category? (e.g. using a tag inside the filename or ID3)

Thank you!

Giacomo.

[2020-08-25 15:42] emilengler commented on #320
No, so far this is not possible.

[2020-08-26 15:33] katelynbolds opened #321 "Unable to upload Cover Art"
**System Information**
Podcast Generator Version: 3.1
Webserver:
PHP Version:

**Podcast Generator Config**

[code]

**Description of your problem:**
I am unable to upload cover art. Every time I try it errors out, but does not tell me anything that is wrong. I've tried multiple sizes, files sizes, etc and can't figure it out. Please help!

[2020-08-26 15:46] emilengler commented on #321
How do you upload it?

[2020-08-26 15:47] katelynbolds commented on #321
Under podcast platform settings - Change Cover Art.

[2020-08-27 14:01] emilengler commented on #321
The image needs to be quadratic

[2020-08-28 03:30] ryangurn commented on #321
@katelynbolds what is erroring? can you provide more information or a screenshot of the error so that we can provide more specific assistance with this?

[2020-08-28 03:33] ryangurn commented on #311
@Saladoc This is is super useful, I think that at this point @emilengler has added it to the version 3.2 milestone so that we keep it in mind for the newer version. I have personally worked on a few podcasts where there are multiple team members, so the rationale behind this is a very solid one.

Thanks again for submitting this request.

[2020-08-28 03:34] ryangurn commented on #309
@senarvi & @dskeen are you putting the JPG files into the $upload_dir?

[2020-08-28 03:40] ryangurn commented on #305
@hundredproofsam. hmm, generally this type of this is permissions based, the times it has happened to me it is due to the webserver not being able to access the files (due to changed permissions)

If you could please connect to the server (either via ssh or the cpanel) and take a screenshot of the permissions of the installed PG folder. Please also make sure to note which webserver your host uses

[2020-08-28 03:41] ryangurn commented on #304
@joerg-nafcom ah it appears that we are escaping quotes to protect against some sort of SQL injection.

I think we will need to find a creative way to ensure that this is properly fixed. Thanks for the report!

[2020-08-28 03:42] ryangurn commented on #302
@joerg-nafcom if things are working, would you mind closing this issue?

[2020-08-28 03:58] ryangurn commented on #230
@tomanageit hmm, does the server generate an `error_log` file anywhere? In theory it should be at the `$absolutePath` which is `/var/www/virtual/xx/pg/pg/` based on the `config 3.1 doesntwork.php.txt`

[2020-08-28 04:03] ryangurn commented on #278
@flomeixneryt was the webhost able to provide any help? If not, I have found [this stackoverflow](https://stackoverflow.com/questions/1053424/how-do-i-get-php-errors-to-display) which provide information about various ways to change the php error handling, both on a global level as well as just for this application. Please let me know if you have questions but I think that the answer discussing th

[2020-08-28 07:45] senarvi commented on #309
I have now $upload_dir pointing to "media/" and $img_dir pinting to "images/", where I have the JPG files. For me it's working now. Thanks anyway!

[2020-08-28 12:05] #309 closed

[2020-08-28 12:06] emilengler commented on #302
I will do this now, let me know if the problem still exists

[2020-08-28 12:06] #302 closed

[2020-08-28 12:07] emilengler commented on #304
No, we don't use any SQL at all, although I thought about switching to an SQLite database in the future

[2020-08-29 00:33] ryangurn commented on #309
@senarvi Wonderful, im glad that worked! Please let us know if you ever need any assistance, and sorry for the delay in responding!

[2020-08-29 00:35] ryangurn commented on #304
oops @emilengler i mean html injection oops.

[2020-08-29 00:45] ryangurn commented on #185
@emilengler to tell you the truth, I dont know why we are not using SQL, because even at minimum SQLite support would make all of our lives easier so that we do not need to endlessly parse XML. Doing all of the XML processing each time the page is requested causes decreases in performance.

I do not have any specific inclination to change it to SQL because I understand that backward compatibility

[2020-08-29 00:47] ryangurn commented on #157
Please let me know if I can help with this @emilengler... I am quite bored and would love to help in any way that you find useful!

[2020-08-29 00:52] ryangurn commented on #295
@SecureCodeJIT It appears that you are reporting issues with getting a 500 server error. I would advise that you take a look at #305, as I have provided some general information about 500 errors in there.

Here is a quote of what I posted in there so that we can narrow in on the issue that is causing the 500 error. Also please be sure to post the config that you are using after putting it into the

[2020-08-29 07:27] emilengler commented on #157
@ryangurn Hey, yes you can help a lot!
I would have three things you can do:
* Fix bugs in the issue tracker
* Repair the config censor tool on podcastgenerator.github.io
* Make the theme system better, the current one has too much logic in it, it is too hard for others to make there custom themes

[2020-08-29 07:28] emilengler commented on #185
This is indeed a good idea! I would be open for such a PR. Also we could make the upgrader to convert the old entries automatically to an SQLite database

[2020-08-29 07:29] emilengler commented on #304
Yes I think this causes the problem

[2020-08-30 05:36] ryangurn commented on #185
The upgrader would be one of the first things that I would start with after agreeing upon some sort of db schema. @emilengler it might be a good idea for us to connect and decide on a unified db schema so that we can ensure consistency as we add that functionality. I would say that this should be something slated for 3.2 or 3.2+ so that we can ensure its properly compatible with future ideas.

[2020-08-30 05:36] ryangurn commented on #304
I will take a look and push a PR for adjusting this!

[2020-08-30 05:39] ryangurn commented on #304
@joerg-nafcom so initially the data is added in correctly, and then upon updating it we get the "&quote"?

[2020-08-30 06:07] ryangurn commented on #304
I hope that the title is the only place where this is needed since that is the only place where I allowed for html special chars. @joerg-nafcom please let me know if that will suffice, we are trying to ensure that there is some level of security so that html code cannot be executed by the browser accidentally.

[2020-08-30 08:01] #304 closed

[2020-08-30 08:02] emilengler commented on #304
This was fixed due to great work by @ryangurn!

[2020-08-30 09:00] emilengler commented on #300
Sorry for my late reply. This is indeed a serious bug. I am working on this right now

[2020-08-30 09:03] #300 closed

[2020-08-30 09:23] messagedj commented on #185
Thnx for the efforts guys! Can't wait to see this coming alive.

[2020-08-30 09:39] #311 closed

[2020-08-30 09:39] emilengler commented on #311
This feature is now in master. It will be shipped on 31th of December this year

[2020-08-30 09:45] joerg-nafcom commented on #304
Hi Ryan,

exactly!

I am sorry I didn't reply to this in time. I saw the notifcations but am super busy with Gamescom livestream this weekend.

https://now.gamescom.global/area/retro.html

Glad you've got this fixed, thank you! :)

Cheers!
Joerg

On Sun, 30 Aug 2020 07:39:44 +0200, Ryan Gurnick <notifications@github.com> wrote:

--
Using Opera's revolutionary e-mail client: https://en.wikipedia.or

[2020-08-30 09:59] emilengler commented on #185
Sure thing! Feel free to contact me over my E-Mail (can be found everywhere).

[2020-08-30 12:10] ryangurn commented on #297
@joerg-nafcom so at this point, are you able to upload the files with the increased FcgiMaxRequestLen and post_max_size? It seems as though the national characters and dashes are now the issue correct?

@emilengler Would there be a reason that we are not allowing dashes (-) or national characters up until this point?

[2020-08-30 12:15] joerg-nafcom commented on #297
ryan, you are 100% correct in your assumptions.

[2020-08-30 12:16] ryangurn commented on #304
@joerg-nafcom my pleasure, I will most likely be commenting on your other bug reports to get those squashed also. It was a pleasure.

[2020-08-30 12:20] ryangurn commented on #297
ok, so here is my order of operations for getting this fixed.

1. Address the issues with uploading files that contain "-"
2. Ensure that UTF-8 is being properly supported for file names.

[2020-08-30 12:24] joerg-nafcom commented on #297
seems good to me

[2020-08-30 12:29] ryangurn commented on #297
I will get to #296 at some point it is just being held up by a bit more that I need to research.

It occurs to me that you can go into `config.php` and change `$strictfilenamepolicy` to "no" and it will allow for your file names to be utf-8 and include dashes. There is no code adjustment needed. Please give this a shot and let me know how it goes.

[2020-08-30 12:32] joerg-nafcom commented on #297
I will have to ask our webhoster for that, this can take a while

[2020-08-30 12:34] ryangurn commented on #297
I have tested it and it appears to work, give it a shot and let me know what happens. Please be sure to use @ryangurn to send me a ding.

[2020-08-30 12:37] ryangurn commented on #296
Please review what was determined for #297 I think this has to do with configs.

[2020-08-30 14:59] emilengler commented on #297
I am not exactly sure on this but I think UTF-8 characters are allowed if strictfilenames is disabled in the configuration

[2020-08-30 17:19] ryangurn commented on #297
@emilengler they are allowed, I am perfectly fine with you closing the PR if we do not want to make adjustments to the configuration. I was able to test and if it is disabled this should all work normally.

Let me know what you decide with this config option, remove it entirely or something else.

[2020-08-30 21:29] ryangurn commented on #296
@dskeen the issue with the dash should be solved at this point, just waiting for a review from the rest of the PG team.

@joerg-nafcom I do not know that you will be able to use a file name such as "Holger Weßling.mp3" because "ß" is a non ascii character so in general, now it will be replaced by a question mark ("?"). There are many resources online that explain the complexity with using non asci

[2020-08-30 23:02] ParkPlaceSecurities commented on #305
I am having the same problem with a HTTP 500 error. Always worked before with no problem. Version 3.0. Had my server updated to Centos 7.8 and appears to have started then. Installed 3.1 in a new directory and the exact same problem. Used a paid version of Softaculous Apps Installer.

[2020-08-30 23:15] ryangurn commented on #305
@ParkPlaceSecurities can you please look at the comment from 3 days ago, and upload the requested information so I can assist in the best possible way.

[2020-08-31 08:02] gfreccia commented on #320
Thanks!
But it's not clear for me how to add an FTP uploaded file to a category, that's what I need.
Do I need to make it by hand?

[2020-08-31 13:03] emilengler commented on #320
Yes you need to edit that episode manually

[2020-09-08 10:25] Archiware opened #324 "Theme (CSS) not loading"
Hello there!

I've installed PG on a self hosted server running Ubuntu 20.04. I'm using PHP 7.4.9 and as a web server I've got Caddy 2.1.1 running.

The problem is visible in my attached screenshots. In the admin area, everything looks fine so far. But on the actual index.php / homepage, the CSS is not being loaded. I am honestly a little confused as of why. I gotta admit at this point, that I'm n

[2020-09-08 10:30] Archiware commented on #324
Please don't look at me. I'm a shame to the guild of software developers. It _was_ a file permission issue and I should have seen it from a mile away.

I'm crawling back into my cave of shame now.

[2020-09-08 10:30] #324 closed

[2020-09-08 13:59] emilengler commented on #324
No problem! Sometimes you don't see the forest because there are too many trees ;)

[2020-09-08 14:34] scateu opened #325 "'64kbps' displayed as '640kbps'"
**System Information**
Podcast Generator Version: 3.1
Webserver: nginx
PHP Version: 7.3

**Expected behavior**
`Filetype: MP3 - Size: 32 MB - Duration: 1:05:53m (64 kbps 44100 Hz)`

**Actual behavior**
`Filetype: MP3 - Size: 32 MB - Duration: 1:05:53m (640 kbps 44100 Hz)`
**How to reproduce**
It's a mp3 file encoded by forecast.app. When encoded in 192kbps, it shows as expected.

Thank you for mak

[2020-09-09 17:50] DavidmSRBC opened #326 "Admin Login"
I have tried every step that I have found to try to change the admin password to be able to log in but nothing works.

is there something I am missing?

I am trying to upgrade from version 2.6 but I can not even log into that version.

Any help would be much appreciated.

Thanks David

[2020-09-10 09:37] emilengler commented on #326
It's not possible to upgrade directly. You will need to go to 2.7 first and then each version

[2020-09-12 16:08] DavidmSRBC commented on #326
I read that I have to do it in steps.  However I can not even login the version 2.6.  I need help with this.  I have followed all the instructions but nothing works

[2020-09-13 02:15] travisterwilliger opened #327 "RSS Feed Public Email"
**EDIT** : It looks like Spotify needs to be declared. View documentation here https://podcasters.spotify.com/terms/Spotify_Podcast_Delivery_Specification_v1.6.pdf

In order to link Podcast Generator's RSS Feed up with Spotify, we need a way to publicly display an email address.

Itunes owner information populates in the XML, but I am assuming Spotify needs something different.

- [ ] Enable Podca

[2020-09-13 05:12] emilengler commented on #327
I'll have a look at it

[2020-09-13 15:17] travisterwilliger commented on #327
I'd be inclined to take a look as well. Browsing the Spotify docs, it looks quite simple to do. Perhaps we can even provide compatibility with other large Podcast based websites (TuneIn, Google Podcasts, Stitcher, etc).

I believe all that would need to happen is include inputs for each platform you want to link up with (email and username). Save them and append the xml to the feed.

[2020-09-14 05:27] emilengler commented on #327
Google Podcasts is already supported but I am open to the alternatives :-)

[2020-09-15 02:17] Amvalain opened #329 "Connection is Reset During Audio Upload"
"This site can’t be reached

The connection was reset.

Try:

Checking the connection
Checking the proxy and the firewall
ERR_CONNECTION_RESET"

Happened multiple times with multiple file types. Just trying to figure out if it just me and what the fix could be.

[2020-09-15 07:06] emilengler commented on #329
Can you try it with a smaller file?

[2020-09-18 13:14] Amvalain commented on #329
Sorry about the late reply. I will try with a smaller file size this evening. Is there a file size limit?

[2020-09-19 06:18] emilengler commented on #329
No, at least not by Podcast Generator! However I think the problem comes from your web server. If you try a smaller file it will very likely mean your web server is the trouble maker

[2020-09-22 20:09] hughwilliams94 commented on #297
I am using nginx and php 7.4 and can't get any large uploads  to work (auto or manual). I have tried tweaking all of the php upload vars, but it isn't working. Small files (created using `head -c 6MB /dev/urandom > a.mp3`) work OK, but similarly named real mp3's of roughly the same size fail.

[2020-09-23 05:22] emilengler commented on #297
Could you give me the failing mp3 file?

[2020-09-23 14:56] KevDoy opened #331 "Moving from 2.7 to 3.1"
**System Information**
Podcast Generator Version: 2.7
Webserver: Linux
PHP Version: 5.6

**Podcast Generator Config**

[code]

**Description of your problem:**
I'm looking to upgrade my site from 2.7 to 3.1 without losing any of my content and resetting my feed/starting a new feed. I have no idea where to start. Am I able to migrate the data base with users and podcast feed over somehow? I don't m

[2020-09-24 09:57] garyee opened #332 "Where is the synology Podcast Generator package"
Hi,

saw the package on my diskstation some time ago and thought that I would definetly try it. But it is gone now...
And has been since two month ([reddit](https://www.reddit.com/r/synology/comments/hs8cih/whats_happened_to_podcast_generator/))

[2020-09-24 16:01] emilengler commented on #332
Hello @garyee
Unfortunately I have no idea!
The package is entirely maintained by Synology, not by me. I have no influence on this.
Therefore you have two options:

1) Contact Synology and ask them nicely
2) Install Podcast Generator "by hand" on your Synology

[2020-09-24 16:03] emilengler commented on #331
Hello @KevDoy

Before you upgrade ALWAYS do a backup of your Podcast Generator folder.
After that please download Version 3.0.1 and replace the files in the PG folder with it. Then open your PG installation in your web browser. After that you do the same with 3.1 and voila, you are done!

Keep in mind that Podcast Generator > 3.0 requires at least PHP 7.0.

You can find the releases [here](https:/

[2020-09-24 17:12] RicardoVelaC commented on #332
Or a third option: Consider the changes for create a Docker version of PG, with docker you get a standard package with multi-system support, Synology, QNAP, Windows, Linux, Raspberry Pi, with a clean and easy install.

CC @vonProteus #289

[2020-09-25 07:18] garyee commented on #332
@emilengler hi, thanks for the quick reply.
I did the first one. For the second one: sadly my diskstation does not support docker. Is there a install guide for this?

[2020-09-25 07:28] garyee commented on #332
Okay I did get an answer it seems that the support for the package has been discontinued:
https://www.synology.com/en-global/support/download/DS211j#eols

I think they do not want support packages that they haven't made, as there is docker support now ... on newer models.
They also told me that I could install it manually, so I will try and do that.

[2020-09-25 07:28] #332 closed

[2020-09-25 10:21] emilengler commented on #332
Sad that they have removed it though. Thanks for your research anyway :-)

[2020-09-26 07:12] vonProteus commented on #332
@garyee if you want my docker container it is available at
https://hub.docker.com/r/vonproteus/podcast-generator
and is runnable on linux/386 linux/amd64 linux/arm/v7 linux/arm64
i supposed Synology use linux/arm/v7 so you shut be fine

[2020-09-27 23:21] steveincolorado opened #333 ""Episode does not exist" but it does"
![Screenshot 2020-09-27 164244](https://user-images.githubusercontent.com/71991657/94377991-e89acc80-00e2-11eb-95da-8d7c588ccda8.jpg)
![Screenshot 2020-09-27 165425](https://user-images.githubusercontent.com/71991657/94377992-ea649000-00e2-11eb-968e-55215b22ddaf.jpg)

**System Information**
Podcast Generator Version:  3.1
Webserver:  unsure how to find this
PHP Version:  7.0.33   (my server has 5.

[2020-09-30 20:50] 01Time commented on #29
I'm assuming this would address my issue as well. I have my mp3 files hosted at a different location that where PG is installed. So, I would love the option to be able to type the url of the specific mp3 instead of being forced to upload it.

[2020-10-01 14:21] emilengler commented on #29
Location in terms of server?

[2020-10-01 16:20] 01Time commented on #29
`Location in terms of server?'

Yes. Where I installed PG has a relatively small file size limit and so I use another location (server) to store the media on, but it doesn't support PHP. At some point, it may be worth the money to put everything in one place, but in the meantime it would make it much easier to have the option to point to the url of the media location and have PG use that for the m

[2020-10-01 17:59] Amvalain commented on #329
You were correct, sir. Sorry to bother you. Any idea about where to change such a setting?

[2020-10-03 05:22] emilengler commented on #329
Have you an error log or something similar?

[2020-10-03 09:10] erdnuesse commented on #320
The way I see it, you

Step 1: investigate
- start a testlab with an empty podcast site.
- make a snapshot of that site.
- upload via web iface
- make a second snapshot
- make a diff between those snapshots

Step 2 - Trial
Create a script, that will edit all the changed files to add another episode cleanly
Test: upload ep#2 via ftp
Test: fire a script, that puts all data into the needed files

Ste

[2020-10-06 05:57] emilengler commented on #320
Yes that's the way (mostly)

[2020-10-09 07:55] LadinoPosse opened #335 "<longdescPG> is not showing on Apple Podcast"
**System Information**
Podcast Generator Version: 3.1
Webserver: Apache
PHP Version:PHP 7.3

**Podcast Generator Config**

[code]

**Description of your problem:**
Hi,
I have a problem with **longdescPG /longdescPG.** Seems like Apple is ignoring those data. There is only the text from **shortdescPG
 shortdescPG**  in the podcast episode detail and nothing more.
Is there some specific format I hav

[2020-10-13 18:25] VikkiBaptie opened #336 "m4a upload bug"
**System Information**
Podcast Generator Version: 3.1
Webserver: linux
PHP Version: 7.4

**Podcast Generator Config**

[code]

**Expected behavior**

Unsupported mime type detected for file with extension "m4a"

**Actual behavior**

To upload an m4a file

It said in your FAQ to:  You can add as many new file formats as you want by manually editing core/supported_media.php and appending to the list

[2020-10-13 18:30] VikkiBaptie commented on #336
Sorry guys I fixed this...

Changed the XML file to read:

	<mediaFile>
		<extension>m4a</extension>
		<mimetype>audio/mp4</mimetype>
	</mediaFile>

[2020-10-13 18:30] #336 closed

[2020-10-13 21:29] Loopzorbital opened #337 "Login disabled for security reasons"
I had an issue with my current version of PodcastGenerator, so i just uploaded new version to a fresh directory.

Set it up with no issues. Then i copied the MEDIA and IMAGES folder over from the original installation to the new installation
Now when i go to the NEW installation, it correctly loads the page and i can see my podcasts but if i click on ADMIN, it tells me

"Login disabled for securit

[2020-10-14 19:19] BPX400 opened #338 "Make Artwork filename adjustable"
Hi everyone,

By now the artwork filename of the podcast is hardcoded in the upload and rss-feed generation scripts to itunes_image.jpg. The value should be adjustable or selectable, e.g. by setting a global variable in the podcast configuration xml-file.

I noticed this as we wanted to update the artwork of our podcast and the change was not seen by several plattforms even when waiting a long tim

[2020-10-15 07:24] emilengler commented on #338
Sounds like a good idea

[2020-10-15 07:25] emilengler commented on #337
Delete the reset.php file

[2020-10-21 04:55] pudealee opened #339 "Need to upgrade (Current v1.3)"
**System Information**
Podcast Generator Version: 1.3
Webserver: cpsrvd 11.86.0.25
PHP Version: 7.3.6

**Podcast Generator Config**

[code]

**Description of your problem:**
GoDaddy did some sort of upgrade this weekend, and I can no longer access my site. I am working with them on that. But, I suppose I need to upgrade to the latest version of PG. Since I'm going from 1.x to 3.x, should I do a co

[2020-10-21 05:06] emilengler commented on #339
Doing a new install is probably the best way. 1.3 is just too old and the upgrader would fail

[2020-10-21 05:11] pudealee commented on #339
Thanks. I figured as much. So in doing a new install, what procedure should I undertake to preserve my content?

[2020-10-22 07:56] christoffer85 opened #340 "500 Internal Server Error"
Can't upload podcast anymore. Anyone know what's the problem?

**System Information**
Podcast Generator Version:
Webserver:
PHP Version:

**Podcast Generator Config**

[code]

**Expected behavior**

**Actual behavior**

**How to reproduce**

[2020-10-22 15:30] emilengler commented on #340
Do you have the error log of your web server?

[2020-10-22 15:32] emilengler commented on #339
I'm not into 1.3 but I think the most important thing is to backup your media/ and images/ folder. After you re-installed PodcastGenerator and changed the settings to your favor replace the media/ and images/ folders and you should be ready to go

[2020-10-24 20:47] garyee commented on #237
I got the exact same error, my solution was that gettext php-module was not installed. Intalled it, problem solved.

[2020-10-24 22:31] garyee opened #341 "Unsupported mime type detected for file with extension "wav""
**System Information**
Podcast Generator Version: 3.1
Webserver: apache 2.4
PHP Version: 7.4
Installed on a Synology Diskstation with minimal php extensions.

**Podcast Generator Config**
[code]

When I want to upload a .wav file the webfrontend shows:
`Unsupported mime type detected for file with extension "wav"`
When I tried the FTP feature it did not seem to recognise the file.
With mp3 both wa

[2020-10-24 22:39] garyee commented on #341
It seems that the mime type of the file results to audio/wav but in the supported_media file there is only audio/x-wav

[2020-10-26 13:41] emilengler commented on #341
Can you add the entry by hand?

[2020-10-28 22:25] messagedj opened #342 "Solution FAQ change website link not working"
**System Information**
Podcast Generator Version: 3.1

i want to change the website link in my feed. My problem is described at
[https://podcastgenerator.net/documentation/FAQ-change-Website-Link ](https://podcastgenerator.net/documentation/FAQ-change-Website-Link )
but $feed_iTunes_LINKS_Website = ""; is not in the 3.1 config file.

where can i change it?

[2020-11-02 01:13] KevDoy commented on #331
Hi @emilengler I am just getting back to this - that worked splendidly. Thank you so much!
I did run into another problem. On the homepage, I'm only seeing 4 podcast episodes now and there is only 1 page listed, despite there being more. I can pull them all up by looking up an empty category. Is there a fix to regenerate these?

Thanks!

[2020-11-02 06:02] emilengler commented on #331
Sorry I don't understand what do you mean

[2020-11-02 16:13] KevDoy commented on #331
Emil,

No worries. I have about 55 episodes uploaded, but on my podcast generator homepage, I am only seeing 4 show up.
They are all still there in the RSS feed, and in the categories. But just 4 show up on the homepage.

[2020-11-03 10:44] emilengler commented on #331
Isn't there a way to switch the pages? Do you see something in the bottom to go to page 2?

[2020-11-03 10:45] emilengler commented on #331
Otherwise please send me your config! But keep in mind that upgrading from 2.7 to 3.1 isn't possible. You need this way:
2.7 -> 3.0 -> 3.1

[2020-11-07 06:05] berkeleybernie opened #343 "3.1 compatible themes"
Hi, just a musician here with a little geek know-how. Just installed PG at my web host to check it out. Are there any themes for 3.1 yet besides the default? I haven't been able to locate any.

Thanks!

[2020-11-07 20:11] emilengler commented on #343
No, there are no other themes beside the default one. However @NeaMitika created was working/is working on a light or dark theme if I remember correctly

[2020-11-07 20:11] #343 closed

[2020-11-08 05:20] BrandenWitte opened #344 "Scripts is not writeable"
During setup it came up with Media, Images, and Scripts are not writeable. I was able to change permissions for Media and Images, but could not find Scripts. I've tried searching, but had no luck.

Any known solutions? Scripts is not writeable. I was able to fix the others using chmod.

[2020-11-08 09:21] NeaMitika commented on #343
You know what, i am gonna start working on it again :) Here in Italy we are in lockdown again for atleast 1 month, this is the perfect moment to do it :)

[2020-11-08 11:09] emilengler commented on #344
Scripts is the root folder of your Podcast Generator installation. (The folder where media and scripts reside in)

[2020-11-08 15:46] Radiowiec opened #345 "Navbar displayed on all episode pages (instead of only on index pages)"
**System Information**
Podcast Generator Version:  3.1
Webserver: Apache
PHP Version: 7.4

**Podcast Generator Config**

[code]

**Expected behavior**

No paging control (NAV tag) on single episode pages.

**Actual behavior**

All single episode pages display a navbar.

**How to reproduce**

Display any single episode page - a navbar is displayed at the bottom.

[2020-11-08 15:52] BrandenWitte commented on #344
That did it! Thank you so much. I had searched and found nothing, and I'm newer to this so appreciate the help.

[2020-11-08 22:05] KevDoy commented on #331
I went from 2.7 to 3.0 and then 3.1. I followed all the instructions and I'm able to view the latest episodes. But only 4 episodes migrated. The rest of the episodes can be listed, but when I try to open the episode page, I get an error that the episode does not exist.

To answer your other question, No I am not seeing other pages that I can click. Just "1".

[code]

[2020-11-09 08:48] #344 closed

[2020-11-10 10:48] NeaMitika opened #346 "The latest release doesnt have the latest modifications"
**Description**
I was working on the black version for the default theme, and i have downloaded the latest release and i have noticed that is different from the actual repo...
For example the installation steps are not with the new "design" (by design i mean the bootstrap classes added to the divs) and the same with the listing of the podcast.

Could we make a pre-release or a new release adding t

[2020-11-10 20:36] emilengler commented on #345
Can you provide a screenshot?

[2020-11-10 20:38] emilengler commented on #346
Hey thanks for working on it! :)
If you work on Podcast Generator, please use the development version/master branch. Your design patches (f9ea5235527d2af2e910fc18a6bac9acab804110, 34bfb74c5ac469c8077079077a687e2eb051f70d, d92a7b8b622738b2c43abd5a27108fd0e43cf3fe) have been merged slightly after 3.1 came out therefore they are not in the new version.

The next release is scheduled on 2020-12-13 so

[2020-11-10 20:52] NeaMitika commented on #346
Roger that!

So many things to discover about GitHub!

I will try to make it by 2020-12-13 :), i mean come on 1 FULL month, I can do it! (encouraging my self)

[2020-11-10 21:48] Radiowiec commented on #345
Of course. Look at the podcast at
https://www.download.blindiphone.pl/PodcastGenerator/index.php

![singleepisode](https://user-images.githubusercontent.com/46573256/98736776-92899c00-23a5-11eb-876d-37e172aed46a.png)

- there's a NAV tag at the bottom there, which is correct. Look at a single episode page, e.g.

https://www.download.blindiphone.pl/PodcastGenerator/index.php?name=2020-08-06-prezent

[2020-11-11 06:26] emilengler commented on #345
Thanks for the report! I will fix it in the next release!

[2020-11-17 00:03] ortv15wjmj opened #347 "Your access to TinyMCE will expire on 20 November 2020."
**System Information**
Podcast Generator Version: 2.7
Webserver: cPanel
PHP Version: 7.3.6

**Podcast Generator Config**

[code]

**Description of your problem:**
Receive the following message when uploading files.
Your access to TinyMCE will expire on 20 November 2020. Please either contact your administrator or upgrade your account using the instructions available at https://www.tiny.cloud/blog/

[2020-11-17 22:32] ClimbingArb opened #348 "Apple Podcast loading icon gets to 100% but never disappears"
Hi,

I use Podcast Generator 2.7 to upload my podcasts. In recent months the podcast when uploaded to Apple podcasts, will show it downloading on the phone but when it is complete the icon remains there.
Has anyone else encountered this? and is it an issue in the RSS feed code?

Thanks,

**System Information**
Podcast Generator Version:
Webserver:
PHP Version:

**Podcast Generator Config**

[code]

[2020-11-18 04:05] hocdevitionorg opened #349 "After create an episode which will publish in the future time, it does not show in the list of "edit/delete episode""
**System Information**
Podcast Generator Version: v3.*
Webserver:
PHP Version:

**Podcast Generator Config**

[code]

**Expected behavior**

After create an episode which will publish in the future time, it does not show in the list of "edit/delete episode"

**Actual behavior**

The episode should appear in the list of "edit/delete episode" for edit and delete.
But two files can be seen in podcast

[2020-11-18 10:47] pblommendaal commented on #29
+1

This would be very nice to have.

[2020-11-18 10:58] pblommendaal opened #350 "Option for RSS feed split per category / Multiple podcast feeds"
**Description**
It would be nice if multiple podcast feeds could be generated. There are multiple ways to implement it I guess, for instance a filter on the category that creates a separate feed, with the downside that the podcast details are all the same for each category. Or support multiple podcast details that will generate a separate feed for each podcast, this would be the better option.

**

[2020-11-18 14:47] emilengler commented on #347
This has nothing to do with PG

[2020-11-18 14:49] emilengler commented on #349
This is not, it is a feature! If you schedule a future episode, why should people still see it on the page?

[2020-11-18 14:50] emilengler commented on #350
Unfortunately such a change would be very hard as it would mean a completely new architecture.

[2020-11-18 14:50] #350 closed

[2020-11-18 18:20] hocdevitionorg commented on #349
We had old site using old PodcastGenerator which has been always showed the all created episodes, but this time after installed on a new site, not all created episodes showing up.

For example, now is 1pm, create an episode to publish at 8am tomorrow morning, this used to show in the list and let you to modify or delete before it is to publish before 8am tomorrow morning. Right now, it does not sh

[2020-11-19 10:50] Zamino commented on #321
same case for me. Can't upload a quadratic cover picture. No error occurs. The website just refreshes. The picture is in jpg with 982x982 pixels and a file size of 365 kb.